

<!-- Customer Modal -->

<div id="customerModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="row-center">
      <a class="store_btn apple_btn" href="https://apps.apple.com/ng/app/koogah-customer/id1562395555" target="_blank">
        <img src="../images/app.jpeg" alt="">
      </a>
      <a class="store_btn apple_btn" href="https://play.google.com/store/apps/details?id=com.koogah.customer" target="_blank">
        <img src="../images/download.png" alt="">
      </a>
    </div>
  </div>

</div>