<div id="dispatcherModal" class="modal">

  <!-- Modal content -->
   <div class="modal-content">
    <span class="closed">&times;</span>
    <div class="row-center">
      <a class="store_btn apple_btn" href="https://apps.apple.com/ng/app/koogah-dispatcher/id1562732355" target="_blank">
        <img src="../images/appStore.png" alt="">
      </a>
      <a class="store_btn apple_btn" href="https://play.google.com/store/apps/details?id=com.koogah.dispatcher" target="_blank">
        <img src="../images/playStore.png" alt="">
      </a>
    </div>
  </div>

</div> 