<div class="comp">
  <div class="main_d_n">
    <div class="download_rel">
      <div class="download_container_first">
        <div class="d_c_f_main">
         <div>
          <div class="app_icon_logo">
            <img src="../images/app_icon.png" alt="Koogah delivery app icon"/>
          </div>
          <h1 class="sub_header">
            <span>Download Now</span>
          </h1>
          <p class="brand">Delivery Done Efficiently.</p>
         </div>
         <br/>
         <div>
          <p class="font-small">Download Dispatcher App</p>
          <div class="row-start">
            <a class="store_btn apple_btn" href="https://apps.apple.com/ng/app/koogah-dispatcher/id1562732355">
              <img src="../images/appStore.png"/>
            </a>
            <a class="store_btn google_btn" href="https://play.google.com/store/apps/details?id=com.koogah.dispatcher">
              <img src="../images/playStore.png"/>
            </a>
          </div>
         </div>
         <br/>
         <div>
          <p class="font-small">Download Customer App</p>
          <div class="row-start">
            <a class="store_btn apple_btn" href="https://apps.apple.com/ng/app/koogah-customer/id1562395555">
              <img src="../images/appStore.png"/>
            </a>
            <a class="store_btn google_btn" href="https://play.google.com/store/apps/details?id=com.koogah.customer">
              <img src="../images/playStore.png"/>
            </a>
          </div>
         </div>
        </div>
      </div>
      <div class="download_container_second">
        <div class="download_mobile">
          <img src="../images/d_mobile.png" alt="Koogah is available on both AppStore and Playstore for download"/>
        </div>
      </div>
    </div>
  </div>
</div>