<div class="emc">
  <div class="comp">
    <div class="email_subscription_container">
      <div class="cont_email">
        <div class="email_sub_sub_cont">
          <div>
            <h1 class="font-bold-brand sub_head">Subscribe</h1>
            <p>Get Information About Our Promotions</p>
          </div>
          <div class="row-start subscribe_cont_main">
            <div class="subscribe_input">
              <input type="email" placeholder="✉️ Your Email" class="subscribe_input_email"/>
            </div>
            <div>
              <button class="subscribe_btn active"></button>
            </div>
          </div>
        </div>
        <div class="subscribe_container_second">
          <div class="subscribe_img">
            <img src="../images/girly.png" alt="Subscribe on Koogah to get update on products and services"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile">
    <div class="cont_email">
      <div class="email_sub_sub_cont">
        <div>
          <h1 class="font-bold-brand sub_head">Subscribe</h1>
          <p>Get Information About Our Promotions</p>
        </div>
        <div class="col-end subscribe_cont_main">
          <div class="subscribe_input">
            <input type="email" placeholder="✉️ Your Email" class="subscribe_input_email"/>
          </div>
          <div>
            <button class="subscribe_btn active"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>