<footer class="app_footer">
  <div class="logo_area">
    <div class="footer_logo">
      <img src="../../images/footer_logo.png"/>
      <p class="brand">Delivery done efficiently</p>
    </div>
    <div class="term_address">
      <Address>Address: 17 Ramonu Akolawole street Owode-onirin Lagos.</Address>
      <div class="terms">
        <a class="footer_link" href="/">Terms & Condition</a>
        <span>|</span>
        <a class="footer_link" href="/">Privacy Policy</a>
      </div>
    </div>
  </div>
  <div class="contact_area">
    <div class="hello">
      <div>
        <p class="brand">Say Hello!</p>
        <div class="contact_details">
          <p>08149332331</p>
          <p>contact@koogah.com</p>
        </div>
      </div>
      <div class="footer_social">
        <p>Social Media</p>
      </div>
    </div>
    <div class="nav">sdsds</div>
  </div>
</footer>