<footer class="app_footer">
  <div class="logo_area">
    <div class="footer_logo">
      <img src="../../images/footer_logo.png"/>
      <p class="brand">Delivery done efficiently</p>
    </div>
    <div class="term_address">
      <Address>Address: 17 Ramonu Akolawole street Owode-onirin Lagos.</Address>
      <div class="terms">
        <a class="footer_link" href="/">Terms & Condition</a>
        <span>|</span>
        <a class="footer_link" href="/">Privacy Policy</a>
      </div>
    </div>
  </div>
  <div class="contact_area">
    <div class="hello">
      <div>
        <p class="brand">Say Hello!</p>
        <div class="contact_details">
          <p>+2348149332331</p>
          <a href="mailto:contact@koogah.com">contact@koogah.com</a>
        </div>
      </div>
      <div class="footer_social">
        <p>Social Media</p>
        <div class="social_items row-start">
          <a class="social_item" href="/">
            <img src="../../images/fb.png"/>
          </a>
          <a class="social_item" href="/">
            <img src="../../images/ig.png"/>
          </a>
        </div>
      </div>
    </div>
    <div class="nav">
      <div>
        <p class="brand">Navigation</p>
      </div>
      <div class="footer_nav_item">
        <a href="/">Become a dispatcher</a>
      </div>
      <div class="footer_nav_item">
        <a href="/">Contact</a>
      </div>
      <div class="footer_nav_item">
        <a href="/faq">FAQs</a>
      </div>
    </div>
  </div>
</footer>