<nav class="main_nav">
  <nav class="comp">
    <div class="row-space-between">
      <a href="/">
        <img src="images/logo.png" alt="Koogah Delivery Logo" width="120" height="auto"/>
      </a>
      <div class="row-space-between">
        <a href="/faq" class="link">
          <% if(page === 'faq') {%>
            <p class="font-small font-bold nav-active">FAQ</p>
            <%} else {%>
              <p class="font-small font-bold nav-inactive">FAQ</p>
          <%}%>
        </a>
        <a href="mailto:contact@koogah.com" class="no_decoration cta">
          <p>Contact Us</p>
        </a>
      </div>
    </div>
  </nav>
  <nav class="mobile">
    <div class="row-space-between">
      <div>
        <a href="/">
          <img src="images/logo.png" alt="Koogah Delivery Logo" width="120" height="auto"/>
        </a>
      </div>
      <div class="mobile_nav_container">
        <div class="nav_items_container inactive">
          <div class="col-end">
            <a href="/" class="link">
              <%if(page == 'index') {%>
                <p class="font-small font-bold nav-active">Home</p>
                <%} else {%>
                  <p class="font-small font-bold nav-inactive">Home</p>
                  <%}%>
            </a>
            <a href="/faq" class="link">
              <% if(page === 'faq') {%>
                <p class="font-small font-bold nav-active">FAQ</p>
                <%} else {%>
                  <p class="font-small font-bold nav-inactive">FAQ</p>
              <%}%>
            </a>
            <br/>
            <a href="mailto:contact@koogah.com" class="no_decoration cta">
              <p>Contact Us</p>
            </a>
          </div>
        </div>
        <div class="nav_btn">
          <div class="nav_icon_btn"></div>
        </div>
      </div>
    </div>
  </nav>
</nav>