<nav class="main_nav">
  <nav class="comp">
    <div class="row-space-between">
      <a href="/">
        <img src="images/logo.png" alt="Koogah Delivery Logo" width="120" height="auto"/>
      </a>
      <div class="row-space-between">
        <a href="/" class="link">
          <p>FAQ</p>
        </a>
        <a href="/" class="no_decoration cta">
          <p>Contact Us</p>
        </a>
      </div>
    </div>
  </nav>
  <nav class="mobile">

  </nav>
</nav>