<nav class="main_nav">
  <nav class="comp">
    <div class="row-space-between">
      <a href="/">
        <img src="images/logo.png" alt="Koogah Delivery Logo" width="120" height="auto"/>
      </a>
      <div class="row-space-between">
        <a href="/faq" class="link">
          <% if(page === 'faq') {%>
            <p class="font-small font-bold nav-active">FAQ</p>
            <%} else {%>
              <p class="font-small font-bold nav-inactive">FAQ</p>
          <%}%>
        </a>
        <a href="/" class="no_decoration cta">
          <p>Contact Us</p>
        </a>
      </div>
    </div>
  </nav>
  <nav class="mobile">

  </nav>
</nav>