<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta content="Koogah" name="title" />
    <meta
      content="Koogah is a platform which brings a mobile-first solution and a SCPPD(Single Customer Per Package Delivery) system to solving logistics/delivery issues, connecting customers and business owners with dispatchers, and giving them control over their deliveries"
      name="description"
    />

    <meta
      name="keywords"
      content="
  delivery,
  logistics,
  koogah,
  koogah delivery,
  deliveries,
  koogah logistics,
  dispatchers,
  couriers,
  courier services,
  logistics in nigeria,
  delivery in nigeria,
  deliveries in nigeria,
  koogah faq,
  frequently asked questions on koogah,
  koogah frequently asked questions
  "
    />
    <meta name="twitter:site" content="@thekoogahbrand" />
    <meta name="twitter:domain" content="koogah.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://twitter.com/thekoogahbrand" />
    <meta name="twitter:title" content="Koogah" />
    <meta
      name="twitter:description"
      content="The fastest way to get goods/packages delivered. With actual real-time tracking, and a trusted network of dispatchers"
    />
    <meta
      name="twitter:image"
      content="https://pbs.twimg.com/profile_images/1411243565460688896/076o7nTm_400x400.jpg"
    />
    <meta name="locale" content="en_EN" />
    <meta name="robots" content="index, follow" />
    <meta name="site_name" content="Koogah" />
    <meta content="English" name="language" />
    <meta content="5 days" name="revisit-after" />
    <meta content="Koogah" name="author" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/nav.css" />
    <link rel="stylesheet" href="../../css/toast.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>
      Partner Logistics Company - Koogah - Delivery done efficiently
    </title>
  </head>
  <body id="roots">
    <div class="toast remove"></div>
    <div class="d-modal hide"></div>
    <script src="../../js/locale.js"></script>
    <%- include('components/navbar.ejs', {
      opaque: true,
    }) %>
    <section class="hero_bg_company">
      <div class="hero_content_flex_center">
        <div class="hero_info">
          <h1 class="large-h1 font-white m-text-center">
            Become A Partner <span class="brand">Logistics</span> Company
          </h1>
          <p class="hero_sub_info m-text-center">
            <i>"If I have seen further, it is by standing on the shoulders of giants."</i> - <b>Isaac Newton.</b> <br/>
            This is the beginning of our journey together to build an awesome logistics network.
          </p>
        </div>
        <div class="auth-card">
          <div class="d-flex mb">
            <p class="auth_head_text">Register As A Logistics Company</p>
            <i class="fas fa-comments brand"></i>
          </div>
          <form id="company_form_details">
            <div class="form_container">
              <div class="show" id="form1">
              <input
               required
                name="first_name"
                type="text"
                class="form-control mb"
                placeholder="First Name"
              />
              <input
                required
                name="last_name"
                type="text"
                class="form-control mb"
                placeholder="Last Name"
              />
              <input
                required
                type="number"
                name="nin"
                class="form-control mb"
                placeholder="National Identity Number"
                maxlength="11"
              />
              <input
                required
                type="email"
                name="email"
                class="form-control mb"
                placeholder="Email"
              />
              <div class="input-group mb">
                <span class="input-group-text">+234</span>
                <input
                  required
                  type="tel"
                  name="phone"
                  class="form-control-text"
                  placeholder="Phone Number"
                  maxlength="11"
                  minlength="10"
                />
              </div>
              <br/>
              <div class="d-grid">
                <button class="btn brand_bg text-white" id="comp_next">
                  Next <i class="fas fa-chevron-right text-white"></i>
                </button>
              </div>
              <div class="company_have_account mtop-sm">
                <span class="font-small">Already have an account?</span>
                <a class="font-small link brand" href="/company/admin/login">Sign in</a>
              </div>
              </div>
            </div>
            <div class="form_container">
              <div class="hide" id="form2">
                <input
                required
                name="business_name"
                type="text"
                class="form-control mb"
                placeholder="Business Name"
              />
              <select
               required
               name="country"
               class="form-control mb"
               id="company_select_country"
              >
               <option selected value="" disabled>Select country</option>
               <option value="nigeria">Nigeria</option>
              </select>
              <select
               required
               disabled
               name="state"
               class="form-control mb"
               id="company_select_state"
              >
              <option selected value="" disabled>Select state</option>
            </select>
              <select
                required
                disabled
                name="city"
                class="form-control mb"
                id="company_select_city"
              >
              <option selected value="" disabled>Select city</option>
            </select>
            <input
                required
                name="business_address"
                type="text"
                class="form-control mb"
                placeholder="Business Full Address"
              />
              <br/>
              <div class="mb-2 row-start-cn">
                <input type="checkbox" class="brand-border mgrt-sm" id="company_terms"/>
                <small>I Agree To Koogah Terms And Conditions</small>
              </div>
              <div class="d-grid">
                <button class="btn brand_bg text-white" id="company_register">
                  Register
                </button>
              </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- Middle Section -->
    <section name="what to expect from koogah" class="bg_faint main_section_padding">
      <div class="container">
        <div class="wd-100 col-center mb-2">
          <h1 class="header_font">What To Expect</h1>
          <p class="brand header_sub_font">As a Logistics Company</p>
        </div>
        <div class="grid_container mtop-50px">
          <div class="info-card">
            <div class="icon_bg color_1 earn_kc"></div>
            <div class="font-bold">
              <p class="h">Centralized <span class="brand">Wallet System</span></p>
            </div>
            <div class="info-card-sub-header">
              <p>Koogah offers a Wallet System that allows you to collect and view all generated revenue from your dispatcher deliveries. you can also withdraw from this wallet instantly.</p>
            </div>
          </div>
          <div class="info-card">
            <div class="icon_bg color_5 fast_time"></div>
            <div class="font-bold">
              <p class="h">Detailed <span class="brand">Dispatcher</span> Analysis</p>
            </div>
            <div class="info-card-sub-header">
              <p>On your company dashboard, you can see the number of every dispatcher you have. Data around number of deliveries and Revenue generated from each dispatcher are readily available for you.</p>
            </div>
          </div>
          <div class="info-card">
            <div class="icon_bg color_4 real_tracking"></div>
            <div class="font-bold">
              <p class="h"><span class="brand">Dispatcher Real-Time </span> Tracking & Location <span class="brand">Analysis</span></p>
            </div>
            <div class="info-card-sub-header">
              <p>Never lose sight of your dispatchers even when they are in transit. With Koogah, you can track your dispatchers from the point of package pick up to drop off.</p>
            </div>
          </div>
          <div class="info-card">
            <div class="icon_bg color_3 instant_payout"></div>
            <div class="font-bold">
              <p class="h"><span class="brand">Instant Payout</span></p>
            </div>
            <div class="info-card-sub-header">
              <p>With your centralized wallet system, the fee for every delivery sits pretty, waiting for you to request payout.</p>
            </div>
          </div>
          <div class="info-card">
            <div class="icon_bg color_1 low_rates"></div>
            <div class="font-bold">
              <p class="h">Lowest <span class="brand">Rate</span></p>
            </div>
            <div class="info-card-sub-header">
              <p>Koogah offers the lowest rates for your dispatchers, we charge your dispatcher as low as 10% on every delivery.</p>
            </div>
          </div>
          <div class="info-card">
            <div class="icon_bg color_2 select_dispatcher"></div>
            <div class="font-bold">
              <p class="h"><span class="brand">Business</span> Management System</p>
            </div>
            <div class="info-card-sub-header">
              <p>Our easy to use dashboard provides every control you need to manage your business and dispatchers. you are always updated on every dispatch, movement and transaction.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cta-margin">
        <div class="row-center">
          <div class="wd-210px">
            <a href="#roots" class="link row-space-between bordered-link bg-btn-brand" id="customerTwo">
              <span>Partner as company</span>
              <span class="fas fa-chevron-right"></span>
            </a>
          </div>
        </div>
       </div>
    </section>
    <section class="container" name="email_subscription">
      <%- include('components/email_subscription.ejs') %>
    </section>
    <section name="footer"><%- include('components/footer.ejs') %></section>
    <script>
    </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="../../js/toast.js"></script>
    <script src="../../js/modal.js"></script>
    <script src="../../js/mobile_nav.js"></script>
    <script src="../../js/subscribe.js"></script>
    <script src="../../js/cities_and_towns.js"></script>
    <script src="../../js/company.js"></script>
  </body>
</html>
