<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta content="Koogah" name="title" />
    <meta
      content="Koogah is a platform which brings a mobile-first solution and a SCPPD(Single Customer Per Package Delivery) system to solving logistics/delivery issues, connecting customers and business owners with dispatchers, and giving them control over their deliveries"
      name="description"
    />

    <meta
      name="keywords"
      content="
  delivery,
  logistics,
  koogah,
  koogah delivery,
  deliveries,
  koogah logistics,
  dispatchers,
  couriers,
  courier services,
  logistics in nigeria,
  delivery in nigeria,
  deliveries in nigeria,
  koogah faq,
  frequently asked questions on koogah,
  koogah frequently asked questions
  "
    />
    <meta name="twitter:site" content="@thekoogahbrand" />
    <meta name="twitter:domain" content="koogah.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://twitter.com/thekoogahbrand" />
    <meta name="twitter:title" content="Koogah" />
    <meta
      name="twitter:description"
      content="The fastest way to get goods/packages delivered. With actual real-time tracking, and a trusted network of dispatchers"
    />
    <meta
      name="twitter:image"
      content="https://pbs.twimg.com/profile_images/1411243565460688896/076o7nTm_400x400.jpg"
    />
    <meta name="locale" content="en_EN" />
    <meta name="robots" content="index, follow" />
    <meta name="site_name" content="Koogah" />
    <meta content="English" name="language" />
    <meta content="5 days" name="revisit-after" />
    <meta content="Koogah" name="author" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="../../css/toast.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>
      Dispatcher - Koogah - Delivery done efficiently
    </title>
  </head>
  <body id="roots">
    <script src="../js/locale.js"></script>
    <%- include('components/navbar.ejs', { opaque: true, } ) %>
    <div class="toast remove"></div>
    <section class="hero_bg_dispatcher">
      <div class="hero_content_flex_center">
        <div class="hero_info">
          <h1 class="large-h1 font-white m-text-center">
            <span class="brand">Our</span> Dispatchers
          </h1>
          <p class="hero_sub_info m-text-center">
            <i>"If I have seen further, it is by standing on the shoulders of giants."</i> - <b>Isaac Newton.</b> <br/>
            This is the beginning of our journey together to build an awesome logistics network.
          </p>
        </div>
        <div class="auth-card">
          <div class="d-flex mb">
            <p class="auth_head_text">Sign Up</p>
            <i class="fas fa-comments brand"></i>
          </div>
          <form class="show" id="form1" onsubmit="goToForm2(event)">
            <input
              required
              type="email"
              name="email"
              id="email"
              class="form-control mb"
              placeholder="Email"
            />
            <input
              required
              type="text"
              name="firstName"
              id="first_name"
              class="form-control mb"
              placeholder="First Name"
            />
            <input
              required
              type="text"
              name="lastName"
              id="last_name"
              class="form-control mb"
              placeholder="Last Name"
            />
            <div class="input-group mb">
              <span class="input-group-text">+234</span>
              <input
                required
                type="text"
                name="phoneNumber"
                id="phone_number"
                class="form-control-text"
                placeholder="Phone Number"
              />
            </div>
            <select
              required
              name="country"
              class="form-control mb"
              id="country"
            >
              <option selected value="" disabled>Select country</option>
              <option value="nigeria">Nigeria</option>
            </select>
            <select
              required
              name="state"
              class="form-control mb"
              id="state"
              onchange="handleStateSelected(this)"
            >
              <option selected value="" disabled>Select state</option>
            </select>

            <select
              required
              name="city"
              class="form-control mb"
              id="city"
            >
              <option selected value="" disabled>Select city</option>
            </select>

            <div class="d-grid">
              <button class="btn brand_bg text-white" id="next">
                Next <i class="fas fa-chevron-right text-white"></i>
              </button>
            </div>
          </form>
          <form class="hide" id="form2" onsubmit="registerCourier(event)">
            <div class="add_disp_headshot_container">
              <input 
                id="add_dispatcher_profile_image" 
                type="file" 
                class="d-none" 
                accept="image/*"
                name="file"
                onchange="handleFileChanged(this)" 
              />
              <div class="add_disp_headshot_container_sub" onclick="document.getElementById('add_dispatcher_profile_image').click()">
                <div class="add_disp_image_holder">
                  <img
                    id="img_headshot" 
                    src="../../../images/default_company_icon.png" 
                    width="100%" max-height="auto"
                  />
                </div>
                <div>
                  <p class="font-xsm brand">Upload dispatcher headshot</p>
                  <p class="font-xsm font_brand_faint">Image should be a headshot in jpeg or png format.</p>
                </div>
              </div>
            </div>
            <input
              required
              type="text"
              name="address"
              id="address"
              class="form-control mb"
              placeholder="Full House Address"
            />

            <select
              id="sex"
              name="sex"
              class="form-select mb"
              aria-label="Default select example"
            >
              <option selected disabled>Gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="N">Prefer not to say</option>
            </select>
            <input
              required
              type="text"
              name="nin"
              id="nin"
              class="form-control mb"
              placeholder="National Identification Number"
            />

            <div class="mb">
              <div class="mb">
                <label for="automobile" class="form-label"
                  >Do you own a functioning automobile?</label
                >
              </div>
              <select
                required
                id="automobile"
                name="automobile"
                class="form-select"
                aria-label="Default select example"
              >
                <option selected disabled>Select Answer</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
            <div class="mb-2">
              <div class="mb">
                <label for="dispatch" class="form-label"
                  >Have you made money as a dispatcher before?</label
                >
              </div>
              <select
                required
                id="dispatch"
                name="dispatch"
                class="form-select"
                aria-label="Default select example"
              >
                <option selected disabled>Select Answer</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
            <div class="mb-2 row-start-cn">
              <input
                type="checkbox"
                class="brand-border mgrt-sm"
                id="chk_terms"
              />
              <label for="chk_terms"><small>I Agree To Koogah Terms And Conditions</small></label>
            </div>

            <div class="d-grid">
              <button class="btn brand_bg text-white" id="submit">
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- Middele Section -->
    <section name="what to expect from koogah" class="bg_faint main_section_padding">
      <div class="container">
        <div class="wd-100 col-center">
          <h1 class="header_font">What To Expect</h1>
          <p class="brand header_sub_font">As a dispatcher</p>
        </div>
        <div class="grid_container mtop-50px">
          <div class="info-card">
            <div class="icon_bg color_1 consistent_delivery"></div>
            <div class="font-bold">
              <p class="h">Consistent <span class="brand">Deliveries</span></p>
            </div>
            <div class="info-card-sub-header">
              <p>The <span class="brand">Koogah Market-place<sup>&trade;</sup></span> is designed to show you deliveries tailored to your current location, ensuring you can make round-trips. You never have to come back empty.</p>
            </div>
          </div>
          <div class="info-card">
            <div class="icon_bg color_2 instant_payout"></div>
            <div class="font-bold">
              <p class="h">Instant <span class="brand">Payout</span></p>
            </div>
            <div class="info-card-sub-header">
              <p>With our <span class="brand">Koogah Wallet <sup>&trade;</sup></span> system, the payment for every delivery can be withdrawn instantly, once delivery is complete. With Koogah, no one can owe you.</p>
            </div>
          </div>
          <div class="info-card">
            <div class="icon_bg color_3 choose_delivery"></div>
            <div class="font-bold">
              <p class="h">Choose Your <span class="brand">Delivery</span></p>
            </div>
            <div class="info-card-sub-header">
              <p>In the <span class="brand">Koogah Market-place<sup>&trade;</sup></span> deliveries are tailored to you, but... you still have the choice to select what you want to deliver.</p>
            </div>
          </div>
          <div class="info-card">
            <div class="icon_bg color_4 flex_hours"></div>
            <div class="font-bold">
              <p class="h">Flexible <span class="brand">Working Hours</span></p>
            </div>
            <div class="info-card-sub-header">
              <p>With Koogah, you can't work from home, but you can work when you want to work.</p>
            </div>
          </div>
          <div class="info-card">
            <div class="icon_bg color_5 low_rates"></div>
            <div class="font-bold">
              <p class="h">Lowest <span class="brand">Rates</span></p>
            </div>
            <div class="info-card-sub-header">
              <p>We have also got you started with the best rates ever!. We only charge as low as 15% on every delivery.</p>
            </div>
          </div>
          <div class="info-card">
            <div class="icon_bg color_6 limitless_mode"></div>
            <div class="font-bold">
              <p class="h">Limitless <span class="brand">Mode Of Delivery</span></p>
            </div>
            <div class="info-card-sub-header">
              <p>With Koogah, you do not have to worry about owning a motorcycle or car. What ever means of transportation you find convenient, deliver with it!.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cta-margin">
        <div class="row-center">
          <div class="wd-210px">
            <a href="#roots" class="link row-space-between bordered-link bg-btn-brand">
              <span>Become a dispatcher</span>
              <span class="fas fa-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="container" name="email_subscription">
      <%- include('components/email_subscription.ejs') %>
    </section>
    <section name="download_now" class="container">
      <%- include('components/download_now.ejs') %>
    </section>
    <section name="footer"><%- include('components/footer.ejs') %></section>
    <script src="../../js/toast.js"></script>
    <script src="../../js/cities_and_towns.js"></script>
    <script>
      const selectState = document.getElementById("state");
      const options = citiesAndTowns.map((state) => {
        const option = document.createElement("option");
        option.value = state.name;
        option.innerHTML = state.name;
        return option
      })
      selectState.append(...options)


      let hasCheckedTerms = false;
      function checkTerms() {
        hasCheckedTerms = !hasCheckedTerms;
      }
      const terms = document.getElementById("chk_terms");
      terms.addEventListener("change", checkTerms);


      function handleFileChanged(elm) {
        const file = elm.files[0]

        if(!file)
          return

        const img = document.getElementById("img_headshot")

        const reader = new FileReader();
        reader.onload = (function(aImg) { return function(e) { aImg.src = e.target.result; }; })(img);
        reader.readAsDataURL(file);
      }


      function handleStateSelected(elm) {
        const selectedState = elm.value

        const selectCity = document.getElementById("city");

        if (selectCity.children.length > 1) {
          Array.from(selectCity.children).forEach((child, index) => index > 0 && selectCity.removeChild(child));
        }
        const optionsCity = citiesAndTowns.find((state) => state.name.toLowerCase() === selectedState)[
          "lgas"
        ].map((city) => {
          let option = document.createElement("option");
          option.value = city.toLowerCase();
          option.innerHTML = city;
          return option
        });
        
        selectCity.append(...optionsCity)

      }


      function goToForm2(evt) {
        evt.preventDefault()
        document.getElementById("form1").classList.replace("show", "hide");
        document.getElementById("form2").classList.replace("hide", "show");
      }


      function registerCourier(evt) {
        evt.preventDefault()
        if (!hasCheckedTerms) {
          showToast(
            "error",
            "Please agree to our T&C before proceeding",
            5,
            "bottom"
          );
          return;
        }

        const headshot = document.getElementById("add_dispatcher_profile_image").files[0]

        if(!headshot) {
          showToast(
            "error",
            "Kindly upload an headshot of yourself",
            5,
            "bottom"
          );
          return;
        }
        const data = {
          email: document.getElementById("email").value,
          first_name: document.getElementById("first_name").value,
          last_name: document.getElementById("last_name").value,
          mobile_number: document.getElementById("phone_number").value,
          state: document.getElementById("state").value,
          town: document.getElementById("city").value,
          address: document.getElementById("address").value,
          identification_number: document.getElementById("nin").value,
          country_code: "+234",
          nationality: document.getElementById("country").value,
          sex: document.getElementById("sex").value,
          owns_automobile: document.getElementById("automobile").value,
          done_dispatch_before: document.getElementById("dispatch").value,
          profile_image: document.getElementById("img_headshot").src
        };

        const btnRegister = document.getElementById("submit");
        btnRegister.innerHTML = "Loading..."
        btnRegister.disabled = true;
        fetch(
          `${window.location.origin}/api/register/client/courier`,
          {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
          }
        ).then(resp => {
          btnRegister.innerHTML = "Sign Up"
          btnRegister.disabled = false;

          if(resp.status === 413){
            showToast(
              "error",
              "Image too large, Kindly upload another image"
            );
            return
          }
          
          resp.json().then(data => {
            showToast(
              resp.ok ? "success" : "error",
              resp.ok ? data.message : (Array.isArray(data.error) ? data.error[0].message : data.error)
            );
          })
          
        }).catch((err) => {
          console.log(err)
          btnRegister.innerHTML = "Sign Up"
          btnRegister.disabled = false;
          showToast(
            "error",
            "Something went wrong. Please try again",
          );
        });
      }
    </script>
    <script src="../../js/mobile_nav.js"></script>
    <script src="../../js/faq_func.js"></script>
    <script src="../../js/subscribe.js"></script>
  </body>
</html>
