<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content=
      "width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta content="Koogah" name="title" />
  <meta content="Koogah is a platform which brings a mobile-first solution and a SCPPD(Single Customer Per Package Delivery) system to solving logistics/delivery issues, connecting customers and business owners with dispatchers, and giving them control over their deliveries" name="description" />

  <meta name="keywords" content="
  delivery,
  logistics,
  koogah,
  koogah delivery,
  deliveries,
  koogah logistics,
  dispatchers,
  couriers,
  courier services,
  logistics in nigeria,
  delivery in nigeria,
  deliveries in nigeria,
  koogah faq,
  frequently asked questions on koogah,
  koogah frequently asked questions
  "/>
  <meta name="twitter:site" content="@thekoogahbrand">
  <meta name="twitter:domain" content="koogah.com">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="https://twitter.com/thekoogahbrand">
  <meta name="twitter:title" content="Koogah">
  <meta name="twitter:description" content="The fastest way to get goods/packages delivered. With actual real-time tracking, and a trusted network of dispatchers">
  <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/1411243565460688896/076o7nTm_400x400.jpg">
  <meta name='locale' content="en_EN"/>
  <meta name='robots' content="index, follow"/>
  <meta name='site_name' content="Koogah"/>
  <meta content="English" name="language" />
  <meta content="5 days" name="revisit-after" />
  <meta content="Koogah" name="author" />
  <link rel="stylesheet" href="css/index.css"/>
  <link rel="stylesheet" href="css/nav.css"/>
  <link rel="stylesheet" href="https://use.typekit.net/idd5osv.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Frequently asked questions - Koogah - Delivery done efficiently</title>
</head>
<body id="roots">
  <script src="../js/locale.js"></script>
  <%- include('components/navbar.ejs') %>
  <section class="hero">
    <div class="col-center wd-100 ht-100">
      <h1 class="large-h1">FAQ</h1>
    </div>
  </section>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>
  <div>sddssdd</div>

  <script src='../js/mobile_nav.js'></script>
</body>
  
</html>