<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta content="Koogah" name="title" />
    <meta
      content="Koogah is a platform which brings a mobile-first solution and a SCPPD(Single Customer Per Package Delivery) system to solving logistics/delivery issues, connecting customers and business owners with dispatchers, and giving them control over their deliveries"
      name="description"
    />

    <meta
      name="keywords"
      content="
  delivery,
  logistics,
  koogah,
  koogah delivery,
  deliveries,
  koogah logistics,
  dispatchers,
  couriers,
  courier services,
  logistics in nigeria,
  delivery in nigeria,
  deliveries in nigeria,
  koogah faq,
  frequently asked questions on koogah,
  koogah frequently asked questions"
    />
    <meta name="twitter:site" content="@thekoogahbrand" />
    <meta name="twitter:domain" content="koogah.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://twitter.com/thekoogahbrand" />
    <meta name="twitter:title" content="Koogah" />
    <meta
      name="twitter:description"
      content="The fastest way to get goods/packages delivered. With actual real-time tracking, and a trusted network of dispatchers"
    />
    <meta
      name="twitter:image"
      content="https://pbs.twimg.com/profile_images/1411243565460688896/076o7nTm_400x400.jpg"
    />
    <meta name="locale" content="en_EN" />
    <meta name="robots" content="index, follow" />
    <meta name="site_name" content="Koogah" />
    <meta content="English" name="language" />
    <meta content="5 days" name="revisit-after" />
    <meta content="Koogah" name="author" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="https://use.typekit.net/idd5osv.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=PT Sans Pro"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>
      Frequently asked questions - Koogah - Delivery done efficiently
    </title>
  </head>
  <body id="roots">
    <%- include('components/navbar.ejs') %>
    <section
      class="hero container d-flex align-items-center justify-content-center"
    >
      <h4 class="fw-bold">FAQ</h4>
      <p>Most asked questions</p>
    </section>
    <section class=" faq-expect">
      <div class="mt-5 d-flex align-items-center justify-content-center flex-column">
        <h4 class="fw-bold fs-2">What To Expect</h4>
        <p class="brand">As A Dispatcher</p>
      </div>

      <div class="row align-items-center justify-content-center d-sm-flex">
        <div
          class="info-card col-lg-4 w-25 mb-3 mx-lg-2 col-md-12 p  rounded-3"
        >
          <div class="font-bold">
            <p class="h text-center">
              WHY DOES IT TAKE LONG TO GET A TEXT FOR MOBILE TO VERIFY MY
              NUMBER?
            </p>
          </div>
          <div class="info-card-sub-header">
            <p class="text-center">
              Ideally, it takes less than 10 seconds to get a Verification code
              to the preferred mobile number registered. If it takes longer be
              sure to be patient as it is perhaps a network providers' mishap.
              If it persists, give us a call or send a WhatsApp message +234 814
              933 2331
            </p>
          </div>
        </div>
        <div
        class="
          info-card
          col-lg-4
          w-25
          mb-3
          mx-lg-2
          col-md-12
          py-4
          px-3
          rounded-3
        "
      >
        <div class="font-bold text-center">
          <p class="h">HOW DO I GET PAID AS A DISPATCHER?</p>
        </div>
        <div class="info-card-sub-header">
          <p>
            Koogah uses a delivery key system. Delivery keys are owned by the
            owner of the package. Once the delivery key has been imputed, the
            package is marked as delivered, and the funds are transferred to
            your Koogah Wallet. You can them withdraw instantly to your bank
            account.
          </p>
        </div>
      </div>
        <div
        class="
          info-card
          col-lg-4
          w-25
          mb-3
          mx-lg-2
          col-md-12
          py-5
          px-3
          rounded-3
        "
      >
        <div class="font-bold text-center">
          <p class="h">
            WHEN WOULD I BE APPROVED TO START PICKING UP PACKAGES?
          </p>
        </div>
        <div class="info-card-sub-header">
          <p>
            It takes a Minimum of five(5) working days to get verified from
            the day of registration to get onboarded and start requesting to
            Dispatch packages.
          </p>
        </div>
      </div>

        <div
        class="
          info-card
          col-lg-4
          w-25
          mb-3
          mx-lg-2
          col-md-12
          py-4
          px-3
          rounded-3
        "
      >
        <div class="font-bold text-center">
          <p class="h">IS MY BVN REALLY IMPORTANT?</p>
        </div>
        <div class="info-card-sub-header">
          <p>
            The Koogah Dispatcher application allows you to withdraw money
            straight from your Koogah wallet to your bank account. Your BVN is
            only used to verify the authenticity of a user account. We do not
            see any other information.
          </p>
        </div>
      </div>
      <div
      class="
        info-card
        col-lg-4
        w-25
        mb-3
        mx-lg-2
        col-md-12
        py-5
        px-3
        rounded-3
      "
    >
      <div class="font-bold text-center">
        <p class="h">PERCENTAGE?</p>
      </div>
      <div class="info-card-sub-header">
        <p>Koogah collects only 5% on every delivery.</p>
      </div>
    </div>
        <div
          class="
            info-card
            col-lg-4
            w-25
            mb-3
            mx-lg-2
            col-md-12
            py-5
            px-3
            rounded-3
          "
        >
          <div class="font-bold text-center">
            <p class="h">I DON'T HAVE BVN?</p>
          </div>
          <div class="info-card-sub-header">
            <p>
              We require every Dispatcher to have a BVN. Go to your nearest bank
              branch and request for one or Dial*566*1# to get your BVN.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
</body>
  
</html>
