<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content=
      "width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta content="Koogah" name="title" />
  <meta content="Koogah is a platform which brings a mobile-first solution and a SCPPD(Single Customer Per Package Delivery) system to solving logistics/delivery issues, connecting customers and business owners with dispatchers, and giving them control over their deliveries" name="description" />

  <meta name="keywords" content="
  delivery,
  logistics,
  koogah,
  koogah delivery,
  deliveries,
  koogah logistics,
  dispatchers,
  couriers,
  courier services,
  logistics in nigeria,
  delivery in nigeria,
  deliveries in nigeria,
  "/>
  <meta name="twitter:site" content="@thekoogahbrand">
  <meta name="twitter:domain" content="koogah.com">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="https://twitter.com/thekoogahbrand">
  <meta name="twitter:title" content="Koogah">
  <meta name="twitter:description" content="The fastest way to get goods/packages delivered. With actual real-time tracking, and a trusted network of dispatchers">
  <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/1411243565460688896/076o7nTm_400x400.jpg">
  <meta name='locale' content="en_EN"/>
  <meta name='robots' content="index, follow"/>
  <meta name='site_name' content="Koogah"/>
  <meta content="English" name="language" />
  <meta content="5 days" name="revisit-after" />
  <meta content="Koogah" name="author" />
  <link rel="stylesheet" href="css/index.css"/>
  <link rel="stylesheet" href="css/nav.css"/>
  <link rel="stylesheet" href="css/pointers.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Koogah - Delivery done efficiently</title>
</head>
<body id="roots">
  <script src="../js/locale.js"></script>
  <%- include('components/navbar.ejs') %>
  <section class="hero">
    <div class="hero_bg">
      <div class="h_bg_two">
        <div class="h_bg_two_sub">
          <h1>An <span class="brand">Assured</span> Way To Deliver</h1>
          <div class="copy_slogan">
            <span class="brand">Swift.</span>
            <span class="brand">Safe.</span>
            <span class="brand">Secure.</span>
          </div>
        </div>
      </div>
      <div class="h-bg_one">
        <div class="hero_bg_holder">
          <img src="../images/hero_bg.png"/>
        </div>
        <div class="hero_download_now">
          <p class="dn">Download Now</p>
          <div class="hero_download_btns">
            <a class="store_btn apple_btn" href="/">
              <img src="../images/appStore.png"/>
            </a>
            <a class="store_btn google_btn" href="/">
              <img src="../images/playStore.png"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section name="why_koogah" class="container">
    <div class="comp">
      <div class="session_container">
        <div class="session_holder_one">
          <h1 class="sub_header">
            <span class="font-bold-black">Why </span>
            <span class="font-bold-brand">KOOGAH?</span>
          </h1>
          <p class="sub_text">
            Koogah is a platform which brings a mobile-first solution and a <b>SCPPD (Single Customer Per Package Delivery)</b> system to solving logistics/delivery issues, connecting customers and business owners with dispatchers, and giving our customers control over their deliveries.
          </p>
          <a class="link row-space-between bordered-link bg-btn-brand" href="/">
            <span>Become a dispatcher</span>
            <span class="fas fa-chevron-right"></span>
          </a>
        </div>
        <div class="session_holder_two">
          <div class="session_image_holder">
            <img src="../images/wk.png" alt="earn by delivering packages on koogah" width="75%" height="auto"/>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile">
      <div class="session_container">
        <div class="session_holder_one">
          <h1 class="sub_header">
            <span class="font-bold-black">Why </span>
            <span class="font-bold-brand">KOOGAH?</span>
          </h1>
        </div>
        <div class="">
          <div class="session_image_holder">
            <img src="../images/wk.png" alt="earn by delivering packages on koogah" width="75%" height="auto"/>
          </div>
        </div>
        <div class="session_holder_two">
          <p class="sub_text">
            Koogah is a platform which brings a mobile-first solution and a <b>SCPPD (Single Customer Per Package Delivery)</b> system to solving logistics/delivery issues, connecting customers and business owners with dispatchers, and giving our customers control over their deliveries.
          </p>
          <a class="link row-space-between bordered-link bg-btn-brand" href="/">
            <span>Become a dispatcher</span>
            <span class="fas fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section name="what to expect from koogah" class="bg_faint main_section_padding">
    <div class="container">
      <div class="wd-100 col-center">
        <h1 class="header_font">What To Expect</h1>
        <p class="brand header_sub_font">As a dispatcher</p>
      </div>
      <div class="grid_container mtop-50px">
        <div class="info-card">
          <div class="icon_bg color_1 consistent_delivery"></div>
          <div class="font-bold">
            <p class="h">Consistent <span class="brand">Deliveries</span></p>
          </div>
          <div class="info-card-sub-header">
            <p>The <span class="brand">Koogah Market-place<sup>&trade;</sup></span> is designed to show you deliveries tailored to your current location, ensuring you can make round-trips. You never have to come back empty.</p>
          </div>
        </div>
        <div class="info-card">
          <div class="icon_bg color_2 instant_payout"></div>
          <div class="font-bold">
            <p class="h">Instant <span class="brand">Payout</span></p>
          </div>
          <div class="info-card-sub-header">
            <p>With our <span class="brand">Koogah Wallet <sup>&trade;</sup></span> system, the payment for every delivery can be withdrawn instantly, once delivery is complete. With Koogah, no one can owe you.</p>
          </div>
        </div>
        <div class="info-card">
          <div class="icon_bg color_3 choose_delivery"></div>
          <div class="font-bold">
            <p class="h">Choose Your <span class="brand">Delivery</span></p>
          </div>
          <div class="info-card-sub-header">
            <p>In the <span class="brand">Koogah Market-place<sup>&trade;</sup></span> deliveries are tailored to you, but... you still have the choice to select what you want to deliver.</p>
          </div>
        </div>
        <div class="info-card">
          <div class="icon_bg color_4 flex_hours"></div>
          <div class="font-bold">
            <p class="h">Flexible <span class="brand">Working Hours</span></p>
          </div>
          <div class="info-card-sub-header">
            <p>With Koogah, you can't work from home, but you can work when you want to work.</p>
          </div>
        </div>
        <div class="info-card">
          <div class="icon_bg color_5 low_rates"></div>
          <div class="font-bold">
            <p class="h">Lowest <span class="brand">Rates</span></p>
          </div>
          <div class="info-card-sub-header">
            <p>We have also got you started with the best rates ever!. We only charge as low as 5% on every delivery.</p>
          </div>
        </div>
        <div class="info-card">
          <div class="icon_bg color_6 limitless_mode"></div>
          <div class="font-bold">
            <p class="h">Limitless <span class="brand">Mode Of Delivery</span></p>
          </div>
          <div class="info-card-sub-header">
            <p>With Koogah, you do not have to worry about owning a motorcycle or car. What ever means of transportation you find convenient, deliver with it!.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cta-margin">
      <div class="row-center">
        <div class="wd-210px">
          <a class="link row-space-between bordered-link bg-btn-brand" href="/">
            <span>Become a dispatcher</span>
            <span class="fas fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section name="our_customers" class="container">
    <div class="comp">
      <div class="session_container">
        <div class="session_holder_one">
          <div class="session_image_holder">
            <img src="../images/oc.png" alt="earn by delivering packages on koogah" width="75%" height="auto"/>
          </div>
        </div>
        <div class="session_holder_two">
          <h1 class="sub_header">
            <span class="font-bold-black">Our </span>
            <span class="font-bold-brand">Customers</span>
          </h1>
          <p class="sub_text">
            Apart from being pocket friendly, we give our customers control over their deliveries by;
          </p>
          <ul class="bullet">
            <li>You select whom to deliver your packages.</li>
            <li>You have access to your dispatcher actual location in real-time, from pickup to dropoff.</li>
          </ul>
          <br/>
          <a class="link row-space-between bordered-link bg-btn-brand" href="/">
            <span>Become a customer</span>
            <span class="fas fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="mobile">
      <div class="session_container">
        <div class="session_holder_one">
          <h1 class="sub_header">
            <span class="font-bold-black">Our </span>
            <span class="font-bold-brand">Customers</span>
          </h1>
        </div>
        <div class="">
          <div class="session_image_holder">
            <img src="../images/oc.png" alt="earn by delivering packages on koogah" width="75%" height="auto"/>
          </div>
        </div>
        <div class="session_holder_two">
          <p class="sub_text">
            Apart from being pocket friendly, we give our customers control over their deliveries by;
          </p>
          <ul class="bullet">
            <li>You select whom to deliver your packages.</li>
            <li>You have access to your dispatcher actual location in real-time, from pickup to dropoff.</li>
          </ul>
          <br/>
          <a class="link row-space-between bordered-link bg-btn-brand" href="/">
            <span>Become a customer</span>
            <span class="fas fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section name="what to expect from koogah" class="bg_faint main_section_padding">
    <div class="container">
      <div class="wd-100 col-center">
        <h1 class="header_font">What To Expect</h1>
        <p class="brand header_sub_font">As a customer</p>
      </div>
      <div class="grid_container mtop-50px">
        <div class="info-card">
          <div class="icon_bg color_6 sdd"></div>
          <div class="font-bold">
            <p class="h">Same Day <span class="brand">Delivery</span></p>
          </div>
          <div class="info-card-sub-header">
            <p>Your package is of utmost priority, with dispatchers strongly serving our one-customer-per delivery system, Koogah is determined to guarantee same day delivery.</p>
          </div>
        </div>
        <div class="info-card">
          <div class="icon_bg color_5 fast_time"></div>
          <div class="font-bold">
            <p class="h">Faster <span class="brand">Pickup Time</span></p>
          </div>
          <div class="info-card-sub-header">
            <p>Access speed time pick up with Koogah's algorithms and market place feed system and a vast number of dispatchers.</p>
          </div>
        </div>
        <div class="info-card">
          <div class="icon_bg color_4 real_tracking"></div>
          <div class="font-bold">
            <p class="h"><span class="brand">Real-Time</span> Tracking & Location <span class="brand">Analysis</span></p>
          </div>
          <div class="info-card-sub-header">
            <p>Your packages literally never leave your sight. With Koogah's tracking technology, you watch your packages move every step of the way. Control is everything. You now have true control.</p>
          </div>
        </div>
        <div class="info-card">
          <div class="icon_bg color_3 select_dispatcher"></div>
          <div class="font-bold">
            <p class="h">Select Your Preferred <span class="brand">Dispatcher</span></p>
          </div>
          <div class="info-card-sub-header">
            <p>With the control you now have, you decide who picks up and delivers your package.</p>
          </div>
        </div>
        <div class="info-card">
          <div class="icon_bg color_2 earn_kc"></div>
          <div class="font-bold">
            <p class="h">Earn <span class="brand">Koogah Coin<sup>&trade;</sup> </sup></span> To Deliver More Packages</p>
          </div>
          <div class="info-card-sub-header">
            <p>Everytime you top up your wallet, our cashback system offers you Koogah coin which enables you deliver packages for free.</p>
          </div>
        </div>
        <div class="info-card">
          <div class="icon_bg color_1 save_tm"></div>
          <div class="font-bold">
            <p class="h">Save <span class="brand">Time</span> And <span class="brand">Money</span></p>
          </div>
          <div class="info-card-sub-header">
            <p>Koogah offers you the most time efficient and cost effective method. With a few clicks, you never have to worry about anything. Koogah gives you that control.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cta-margin">
      <div class="row-center">
        <div class="wd-210px">
          <a class="link row-space-between bordered-link bg-btn-brand" href="/">
            <span>Become a customer</span>
            <span class="fas fa-chevron-right"></span>
          </a>
        </div>
      </div>
     </div>
  </section>
  <section name="our_partners" class="container">
    <div class="row-center">
      <h1 class="subb_header">
        <span class="font-bold-black">Our </span>
        <span class="font-bold-brand">Partners</span>
      </h1>
    </div>
    <div class="row-center">
      <div class="m-all-2 sp-cont">
        <img src="../images/verifyme.png" alt="Koogah partners with Verifyme Nigeria to validate dispatcher provided data before approving them to dispatch on Koogah." width="100%" height="auto"/>
      </div>
      <div class="m-all-2 sp-cont">
        <img src="../images/google.png" alt="Koogah partners with Google for dispatcher tracking" width="100%" height="auto"/>
      </div>
      <div class="m-all-2 sp-cont">
        <img src="../images/twilio.png" alt="Koogah partners with Twilio to send otp sms" width="100%" height="auto"/>
      </div>
      <div class="m-all-2 sp-cont">
        <img src="../images/paystack.png" alt="Koogah partners with PayStack for payments and dispatcher payouts" width="100%" height="auto"/>
      </div>
    </div>
  </section>
  <section name="download_now" class="container">
    <div class="comp">
      <div class="main_d_n">
        <div class="download_rel">
          <div class="download_container_first">
            <div class="d_c_f_main">
             <div>
              <div class="app_icon_logo">
                <img src="../images/app_icon.png" alt="Koogah delivery app icon"/>
              </div>
              <h1 class="sub_header">
                <span>Download Now</span>
              </h1>
              <p class="brand">Delivery Done Efficiently.</p>
             </div>
             <div>
              <p>Available on</p>
              <div class="row-start">
                <a class="store_btn apple_btn" href="/">
                  <img src="../images/appStore.png"/>
                </a>
                <a class="store_btn google_btn" href="/">
                  <img src="../images/playStore.png"/>
                </a>
              </div>
             </div>
            </div>
          </div>
          <div class="download_container_second">
            <div class="download_mobile">
              <img src="../images/d_mobile.png" alt="Koogah is available on both AppStore and Playstore for download"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section name="footer">
    <%- include('components/footer.ejs') %>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src='../js/mobile_nav.js'></script>
</body>
  
</html>
