body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
}
* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  box-sizing: border-box;
}
.icon_bg {
  width: 49px;
  height: 49px;
  margin: 0.2rem 0 2rem 0;
  border-radius: 0.4rem;
}
.cta-margin {
  margin-top: 40px;
}

.mb {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2.5rem;
}

.btn {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 12px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.color_1 {
  color: #ff8f8f;
  background-color: #ff8f8f;
}
.color_2 {
  color: #3d3d3d;
  background-color: #3d3d3d;
}
.color_3 {
  color: #f29b38;
  background-color: #f29b38;
}
.color_4 {
  color: #9560f2;
  background-color: #9560f2;
}
.color_5 {
  color: #38f2b3;
  background-color: #38f2b3;
}
.color_6 {
  color: #25c0f1;
  background-color: #25c0f1;
}
.color_grey {
  color: rgb(155, 155, 155);
}
.comp {
  display: block;
}
.brand {
  color: #f29b38;
}

.brand_bg {
  background-color: #f29b38;
}

.text-white {
  color: white;
}

 .brand-border {
  border-color: #f29b38 !important;
  padding: 4px !important;
}

.d-grid {
  display: grid!important;
}

input::placeholder {
  color: #9F9F9F;
}

input {
  background-color: #FCFBFB !important;
}

.mobile {
  display: none;
}
.wd-100 {
  width: 100%;
}
.wd-50 {
  width: 50%;
}
.ht-100 {
  height: 100%;
}
.ht-50 {
  height: 50%;
}
.large-h1 {
  font-size: 3.2rem;
}
.wd-210px {
  width: 210px;
}

.position-relative {
  position: relative;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: inherit;
  align-items: stretch;
  width: 100%;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    height: 39px;
    font-weight: 400;
    line-height: 1.5;
    color: #f29b38;
    text-align: center;
    white-space: nowrap;
    background-color: #FCFBFB;
    border: 1px solid #ced4da;
    border-right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-radius: .25rem;

}

.top-right {
  position: absolute;
  top: 100px;
  right: 60px;
}
.row-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.col-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.row-space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bordered-link span {
  margin-right: 0.5rem;
}
.bordered-link {
  border: 1px solid #f29b38;
  padding: 0.5rem;
  border-radius: 0.6rem;
}
.link {
  text-decoration: none;
  color: #000;
  letter-spacing: 0.8px;
  cursor: pointer;
}
.link span {
  font-size: 1rem;
}
.bg-btn-brand {
  background-color: #f29b38;
}
.no_decoration {
  text-decoration: none;
}
.hero {
  width: 100%;
  height: calc(100vh - 8vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg.png");
  background-repeat: repeat-x;
  background-size: contain;
}
.hero_bg {
  width: 100%;
  height: calc(100vh - 8vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: repeat-x;
  background-size: contain;
}

.hero_half {
  width: 100%;
  height: calc(100vh - 45vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg.png");
  background-repeat: repeat-x;
  background-size: contain;
}

.hero_half_privacy {
  width: 100%;
  height: calc(80vh - 45vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-color: #f29b38 !important;
}
/* Dividing hero */
.hero_row::after {
  content: "";
  display: table;
  clear: both;
}
/* Dividing hero */
.h_bg_two {
  position: absolute;
  top: 23%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h_bg_two_sub {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.9em;
}
.h_bg_two_sub h1 {
  font-size: 3.5rem;
  text-align: center;
}
.h-bg_one {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero_bg_holder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem 0 4rem;
  z-index: -99;
}
.hero_download_now {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.hero_download_btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hero_download_now .dn {
  font-size: 0.86em;
  margin: 0.6rem;
}
.hero_bg_holder img {
  width: 90%;
  height: 100%;
}
.copy_slogan {
  margin-top: 0.9rem;
}
.copy_slogan span {
  position: relative;
  margin: 0.2rem;
  font-weight: 300;
  font-size: 1.1rem;
}
.store_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.store_btn img {
  width: 8.2em;
  height: auto;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
.font-small {
  font-size: 0.8rem;
}
.font-bold {
  font-weight: 800;
}
.container {
  margin: 5rem 11rem 5rem 11rem;
  padding: 1rem;
}
.session_container {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.session_holder_one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: calc(100vw - 65vw);
}
.session_holder_two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: calc(100vw - 65vw);
}
.bg_faint {
  background-color: #fcfbfb;
}

.font-bold-black {
  font-weight: bolder;
  font-size: 2rem;
  color: #000;
}
.font-bold-brand {
  font-weight: bolder;
  font-size: 2rem;
  color: #f29b38;
}
.sub_header {
  margin-bottom: 0.3rem;
  margin-top: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start !important;
}
.sub_header span,
.subb_header span {
  font-size: 2.3rem;
  margin-right: 0.5rem;
}
.sub_text {
  line-height: 1.6rem;
  margin-bottom: 0.8rem;
  font-size: 1rem;
}
.session_image_holder {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.grid_container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  align-content: center;
  margin: auto;
  height: auto;
  gap: 2%;
}
.mtop-50px {
  margin-top: 50px;
}
.m-all-2 {
  margin: 12px;
}
.sp-cont {
  width: 7rem;
}

.form-control {
  display: block;
  outline: none;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-text {
  display: block;
  outline: none;
  width: 100%;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}


.auth-card {
  float: right;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
  background-color: #fff;
  padding: 1.5rem;
  width: 25%;
  /* height: 624px; */
  margin:0.6rem 1rem 0.6rem 0;
  box-shadow: 0 3px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}
.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #fff;
  padding: 1.5rem;
  width: 100%;
  height: auto;
  margin: 0.6rem 0 0.6rem 0;
  box-shadow: 0 3px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}
.info-card .h {
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.6rem;
}
.info-card-sub-header {
  text-align: center;
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  line-height: 1.5rem;
}
.main_section_padding {
  padding: 0.7rem 0 3rem 0;
  height: fit-content;
}

.bullet {
  list-style-type: disc;
  list-style-position: inside;
}
.header_font {
  font-size: 2.3rem;
}
.header_sub_font {
  font-size: 1.2rem;
}
.main_d_n {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.download_rel {
  position: relative;
  width: 100%;
  margin-top: 10rem;
  height: 23rem;
}
.download_container_first {
  width: 100%;
  background-image: url("../images/d_bg.png");
  background-color: rgba(223, 221, 221, 0.288);
  background-clip: content-box;
  background-size: contain;
  background-repeat: repeat-x;
  height: 23rem;
  top: 10%;
  border-radius: 0.9rem;
  z-index: -99;
}
.d_c_f_main {
  width: inherit;
  height: inherit;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.download_container_second {
  position: absolute;
  width: 100%;
  top: -73%;
  left: 18%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: -9;
}
.download_bg {
  background-image: url("../images/d_bg.png");
  background-color: rgba(252, 252, 252, 0.589);
  background-size: contain;
  background-repeat: repeat-x;
  border: 1px solid red;
  width: 100%;
  height: 19rem;
  padding: 2.4rem;
  overflow: visible;
  display: flex;
  align-items: center;
}
.download_mobile {
  width: 88%;
}
.download_mobile img {
  width: 100%;
  height: 100%;
}
.app_icon_logo {
  width: 16%;
}
.app_icon_logo img {
  width: 100%;
  height: auto;
}
.app_footer {
  background-color: #000;
  width: 100%;
  height: 19rem;
  padding: 2rem 5rem 3rem 5rem;
  color: #fff;
  display: grid;
  grid-template-areas: "logoArea contactArea";
  grid-template-columns: 35% 1%;
  grid-template-rows: auto;
}
.footer_logo img {
  width: 100%;
  height: auto;
}
.footer_logo p {
  font-size: 0.6rem;
  text-align: right;
}
.footer_logo {
  width: 25%;
}
.logo_area {
  grid-area: logoArea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact_area {
  grid-area: contactArea / last-line;
  width: 100%;
}
.term_address Address {
  font-size: 0.8rem;
  color: #cacaca;
}
.terms a,
.terms span {
  color: #cacaca;
}
.footer_link {
  color: #fcfbfb;
  font-size: 0.7rem;
  text-decoration: none;
}
.contact_area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact_area .hello {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.contact_area .nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact_area .contact_details {
  margin-top: 0.7rem;
}
.contact_area .contact_details p {
  color: #cacaca;
  font-size: 0.9rem;
  margin: 0.3rem 0 0.3rem 0;
}
.contact_area .contact_details a {
  color: #cacaca;
  font-size: 0.9rem;
  margin: 0.3rem 0 0.3rem 0;
  text-decoration: none;
}
.footer_social p {
  color: #f29b38;
  font-size: 0.8rem;
}
.social_items {
  margin-top: 0.5rem;
}
.social_item img {
  width: 100%;
  height: auto;
}
.social_item {
  width: 1.6rem;
  margin-right: 0.7rem;
}
.footer_nav_item {
  margin-top: 0.7em;
}
.footer_nav_item a {
  text-decoration: none;
  font-size: 0.9em;
  color: #cacaca;
}
.footer_nav_item span {
  text-decoration: none;
  font-size: 0.9em;
  color: #cacaca;
  cursor: pointer;
}
.more_questions {
  background-image: url("../images/more_bg.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.more_questions_container {
  padding: 3rem;
  width: 100%;
  background-color: #fcfbfb;
}
.more_questions .brand {
  font-size: 2rem;
}
.question_container {
  background-color: #fff;
  width: 80%;
  margin-top: 2rem;
  padding: 1.5rem;
  box-shadow: 0px 1px 13px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}
.faq_question_item.bordered {
  border-bottom: 1px solid #cacaca9c;
  padding: 0.3rem 0.3rem 1.2rem 0.3rem;
  cursor: pointer;
  transition: all 2s linear;
}
.faq_question_item {
  padding: 0.3rem 0.3rem 1.2rem 0.3rem;
  cursor: pointer;
  transition: all 2s linear;
  margin: 0.6rem;
}
.faq_question_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.faq_question_content.active {
  display: block;
}
.faq_question_content.inactive {
  display: none;
}
.faq_question_content {
  margin-top: 0.9rem;
  transition: all 4s linear;
}
.faq_question_content p {
  font-size: 0.85rem;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
}

/* The customer Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* dispacther close */
.closed {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closed:hover,
.closed:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.border {
  border: 3px solid #ECECEC;
  border-radius: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.d-none {
  display: none;
}
/* 
  RESPONSIVE DESIGNS
*/
@media screen and (max-width: 1024px) {
  .grid_container {
    display: grid;
    grid-template-columns: 48% 48%;
    width: 100%;
    height: auto;
    gap: 5%;
  }
  .container {
    margin: 4rem;
    padding: 1rem;
  }
  .sp-cont {
    width: 5rem;
  }
  .mtop-50px {
    margin-top: 30px;
  }
  .h_bg_two {
    position: absolute;
    top: 10% !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer_logo {
    width: 45%;
  }
}
@media screen and (max-width: 850px) {
  .comp {
    display: none;
  }
  .mobile {
    display: block;
  }
  .link {
    margin-bottom: 0.6rem;
  }
  .grid_container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 98%;
    width: 100%;
    height: auto;
    gap: 0.4%;
  }
  .container {
    padding: 1rem;
  }
  .mtop-50px {
    margin-top: 20px;
  }
  .session_container {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .session_holder_two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
  }
  .info-card {
    width: 100%;
  }
  .h_bg_two_sub {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.9em;
  }
  .hero_bg_holder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 0 1rem;
    z-index: -99;
  }
  .h_bg_two {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .store_btn img {
    width: 7em;
    height: auto;
    margin: 0.5rem;
    cursor: pointer;
  }
  .footer_logo {
    width: 50%;
  }
  .more_questions .brand {
    font-size: 1.4rem;
  }
  .question_container {
    width: 100%;
    margin-top: 2rem;
    padding: 0.5rem;
  }
  .more_questions_container {
    padding: 0.7rem;
  }
  .faq_question_head h4 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin: 1rem !important;
    padding: 1rem;
  }
  .sub_header span,
  .subb_header span,
  .header_font {
    font-size: 1.4rem;
  }
  .header_sub_font {
    font-size: 0.9rem;
  }
  .info-card {
    width: 100%;
  }
  .hero_bg_holder img {
    width: 100%;
    height: 100%;
  }
  .hero_bg_holder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 0 1rem;
    z-index: -99;
  }
  .h_bg_two_sub {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.9em;
  }
  .h_bg_two_sub h1 {
    font-size: 2rem;
    text-align: center;
  }
  .link span,
  .sub_text,
  .bullet li {
    font-size: 0.9rem;
  }
  .session_container {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .app_footer {
    background-color: #000;
    width: 100%;
    height: 21rem;
    padding: 2rem 2rem 3rem 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo_area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }
  .contact_area {
    grid-area: contactArea / last-line;
    width: 100%;
  }
  .h_bg_two {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
