@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.vue_not_allowed {
  opacity: 0 !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.company_admin_pages{
  margin: 0;
  padding: 0;
  font-family: "Poppins Regular", sans-serif !important;
  box-sizing: border-box;
}
.icon_bg {
  width: 49px;
  height: 49px;
  margin: 0.2rem 0 2rem 0;
  border-radius: 0.4rem;
}
.cta-margin {
  margin-top: 40px;
}

.mb {
  margin-bottom: 0.7rem;
}

.mb-2 {
  margin-bottom: 2.5rem;
}
.fl-row-center-space-btwn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.fl-col-center-space-btwn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.fl-col-start-space-btwn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.fl-row-center-start{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.fl-row-center-end{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.fl_row_center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fl_row_start_start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.btn {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 12px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn_bg,
.btn_bg_dark,
.btn_bg_dark_norm_width,
.btn_bg_white_norm_width {
  width: 100%;
  background-color: #f29b38;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border-radius: 4px;
  margin: 1rem 0 1rem 0;
}
.btn_bg_dark{
  background-color: #212121 !important;
}
.btn_bg_dark_norm_width{
  background-color: #212121 !important;
  width: auto !important;
  padding: .3rem 1.2rem;
}
.modal_btn{
  margin: .2rem;
}
.btn_bg_white_norm_width {
  background-color: #fff !important;
  width: auto !important;
  padding: .3rem 1.2rem;
  color: #5A607F;
  border: 1px solid #F5F6FA;
}
.btn_col_outline {
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border: 2px solid #f29b38;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.d-btn {
  border: 2px solid #f29b38;
  margin-top: 2rem;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border-radius: 4px;
  font-size: 0.7rem;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.d-btn:hover {
  background-color: #3d3d3d0e;
}

.color_1 {
  color: #ff8f8f;
  background-color: #ff8f8f;
}
.color_2 {
  color: #3d3d3d;
  background-color: #3d3d3d;
}
.color_3 {
  color: #f29b38;
  background-color: #f29b38;
}
.color_4 {
  color: #9560f2;
  background-color: #9560f2;
}
.color_5 {
  color: #38f2b3;
  background-color: #38f2b3;
}
.color_6 {
  color: #25c0f1;
  background-color: #25c0f1;
}
.color_grey {
  color: rgb(155, 155, 155);
}
.comp {
  display: block;
}
.brand {
  color: #f29b38 !important;
}
.brand_bg_no_hover {
  background-color: #f29b38;
}
.brand_bg {
  background-color: #f29b38;
  transition: all 0.2s linear;
}
.brand_bg:hover {
  background-color: #f29b38d0;
}

.text-white {
  color: white;
}
.text-center-cont {
  padding: 0.7rem 3rem;
}
.text-center {
  text-align: center;
}

.brand-border {
  border-color: #f29b38 !important;
  padding: 4px !important;
}

.d-grid {
  display: grid !important;
}

input::placeholder {
  color: #9f9f9f;
}

input,
select {
  background-color: #fcfbfb !important;
}

.mobile {
  display: none;
}
.wd-100 {
  width: 100% !important;
}
.wd-20{
  width: 20% !important;
}
.wd-50 {
  width: 50%;
}
.ht-100 {
  height: 100% !important;
}
.ht-50 {
  height: 50%;
}
.large-h1 {
  font-size: 3.2rem;
}
.wd-210px {
  width: 210px;
}

.position-relative {
  position: relative;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: inherit;
  align-items: stretch;
  width: 100%;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  height: 39px;
  font-weight: 400;
  line-height: 1.5;
  color: #f29b38;
  text-align: center;
  white-space: nowrap;
  background-color: #fcfbfb;
  border: 1px solid #ececec;
  border-right: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-radius: 0.25rem;
}

.top-right {
  position: absolute;
  top: 100px;
  left: 125%;
}
.row-start-cn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.row-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.col-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.row-space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bordered-link span {
  margin-right: 0.5rem;
}
.bordered-link {
  border: 1px solid #f29b38;
  padding: 0.5rem;
  border-radius: 0.6rem;
}
.link {
  text-decoration: none;
  color: #000;
  letter-spacing: 0.8px;
  cursor: pointer;
}
.link span {
  font-size: 1rem;
}
.bg-btn-brand {
  background-color: #f29b38;
}
.bg-btn-white{
  background-color: #fff !important;
  color: #5A607F !important;
}
.no_decoration {
  text-decoration: none;
}
.login_hero{
  width: 100%;
  height: 100vh;
}
.lh_hero_c,
.lh_hero_c_top{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.lh_hero_c{
  display: flex;
  flex-direction: row;
}
.lh_hero_c > .logo_place {
  width: 33%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  overflow: hidden;
}
.logo_place > .overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2121218e;
  z-index: 9;
}
.lh_hero_c > .bg_place {
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg.png");
  background-repeat: repeat-x;
  background-size: contain;
}
.logo_p_lc{
  width: 180px;
  margin: .9rem;
}
.logo_p_lc_two{
  width: 400px;
}
.lh_hero_c_top{
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.lh_login_form_c{
  width: 40%;
  z-index: 100;
  padding: 2rem;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.123);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.lg_login_sub_c{
  width: 100%;
}
.lg_login_h_sub_c{
  width: 100px;
}
.hero {
  width: 100%;
  height: calc(100vh - 8vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg.png");
  background-repeat: repeat-x;
  background-size: contain;
}
.hero_content_flex_center {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.hero_bg_company {
  width: 100%;
  height: calc(100vh);
  background-image: url("../images/backDrop.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hero_bg_customer {
  width: 100%;
  height: calc(100vh);
  background-image: url("../images/customer_backdrop.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hero_bg_dispatcher {
  width: 100%;
  height: calc(100vh);
  background-image: url("../images/dispatcher_backdrop.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

/*.hero_bg_dispatch_two {
  position: absolute;
  background-image: linear-gradient(to right, #ffcd6879 , #e27b0677),  url("../images/wk.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  object-fit: cover;
  width: 40%;
  height: calc(80vh);
  top: 100px;
  left: 90px;
  /* background-color: #00000060; */
    /* opacity: 0.5;  */
    
}
 
/*.hero_bg_dispatch_color {*/
  /* position: absolute; */
 /*  background-image: linear-gradient(to right, #ffcd6879 , #e27b0677);
  background-color: #00000060;
  width: 100%; */
  /* background-image: linear-gradient(to right, #ffcd68bd , #e27b06be); */
  /* background-image: url("../images/wk.png"); */
  /* background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  object-fit: cover; */
  /* 
  height: calc(80vh);
  top: 100px;
  right: 90px;
  opacity: 0.5;
  background-color: #000000; */
/*}*/

.hero_bg {
  width: 100%;
  height: calc(100vh - 8vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: repeat-x;
  background-size: contain;
}

.hero_half {
  width: 100%;
  height: calc(100vh - 45vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg.png");
  background-repeat: repeat-x;
  background-size: contain;
}

.hero_half_privacy {
  width: 100%;
  height: calc(80vh - 45vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-color: #f29b38 !important;
}
/* Dividing hero */
.hero_row::after {
  content: "";
  display: table;
  clear: both;
}
/* Dividing hero */
.h_bg_two {
  position: absolute;
  top: 23%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h_bg_two_sub {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.9em;
}
.h_bg_two_sub h1 {
  font-size: 3.5rem;
  text-align: center;
}
.h-bg_one {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero_bg_holder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem 0 4rem;
  z-index: -99;
}
.hero_download_now {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.hero_download_btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hero_download_now .dn {
  font-size: 0.86em;
  margin: 0.6rem;
}
.hero_bg_holder img {
  width: 90%;
  height: 100%;
}
.copy_slogan {
  margin-top: 0.9rem;
}
.copy_slogan span {
  position: relative;
  margin: 0.2rem;
  font-weight: 300;
  font-size: 1.1rem;
}
.store_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.store_btn img {
  width: 8.2em;
  height: auto;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
.font-white {
  color: #fff !important;
}
.font-small {
  font-size: 0.8rem !important;
}
.font-xsm{
  font-size: 0.7rem !important;
}
.chv{
  margin-left: .3rem;
}
.icon-font{
  font-size: 1.11rem;
}
.font-bg{
  font-size: 1.5rem;
}
.font-m{
  font-size: 1rem;
}
.font-bold {
  font-weight: 700;
}
.container {
  margin: 5rem 11rem 5rem 11rem;
  padding: 1rem;
}
.arrow_seer{
  width: 12px;
  height: auto;
  margin: 0 .1rem 0 .1rem;
}

.container_mini {
  margin: 5rem 5rem;
  padding: 1rem;
}
.session_container {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.session_holder_one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: calc(100vw - 65vw);
}
.session_holder_two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: calc(100vw - 65vw);
}
.bg_faint {
  background-color: #fcfbfb;
}

.font-bold-black {
  font-weight: bolder;
  font-size: 2rem;
  color: #000;
}
.font-bold-brand {
  font-weight: bolder;
  font-size: 2rem;
  color: #f29b38;
}
.sub_header {
  margin-bottom: 0.3rem;
  margin-top: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start !important;
}
.sub_header_col {
  margin-bottom: 0.3rem;
  margin-top: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start !important;
}
.sub_header span,
.subb_header span,
.sub_header_col span {
  font-size: 2.3rem;
  margin-right: 0.5rem;
}
.sub_text {
  line-height: 1.6rem;
  margin-bottom: 0.8rem;
  font-size: 1rem;
}
.session_image_holder {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.grid_container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  align-content: center;
  margin: auto;
  height: auto;
  gap: 2%;
}
.mtop-sm {
  margin-top: .3rem;
}
.mtop-50px {
  margin-top: 50px;
}
.m-all-2 {
  margin: 12px;
}
.mgrt-sm {
  margin-right: 0.3rem !important;
}
.mgrt-mm {
  margin-right: 0.9rem !important;
}
.sp-cont {
  width: 7rem;
}
.form_container {
  overflow: hidden;
}
@keyframes slideIn {
  from {
    right: -200px;
  }
  to {
    right: 0;
  }
}
.show {
  display: block;
  position: relative;
  transition: all 0.5s linear;
  animation: slideIn 0.5s linear;
}
.hide {
  display: none;
  position: relative;
  transition: all 0.5s linear;
}
.form_container .show {
  position: relative;
  right: 0;
}
.form_container .hide {
  position: relative;
  right: -200px;
}
.form_input_container{
  margin: .7rem 0;
  border: 1px solid red;
}

.form-control {
  display: block;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ececec;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select {
  display: block;
  width: 100%;
  outline: none;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  /* background-image: url(data:image/svg+xml,%3csvgxmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e); */
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control-text {
  display: block;
  outline: none;
  width: 100%;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ececec;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}
.hero_info {
  width: 40%;
  margin-left: 9rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero_sub_info {
  margin-top: 2.2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
}

.auth-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
  background-color: #fff;
  padding: 1.5rem;
  width: 25%;
  /* height: 624px; */
  margin: 0.6rem 1rem 0.6rem 0;
  box-shadow: 0 3px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.9rem;
  margin-right: 8rem;
}

.dispatch-auth-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
  background-color: #fff;
  padding: 1.5rem;
  width: 80%;
  /* height: 624px; */
  margin: 0.6rem 1rem 0.6rem 0;
  box-shadow: 0 3px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.9rem;
  margin-right: 8rem;
}

.auth_head_text {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 300;
  color: #3d3d3d;
}
.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #fff;
  padding: 1.5rem;
  width: 100%;
  height: auto;
  margin: 0.6rem 0 0.6rem 0;
  box-shadow: 0 3px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}
.info-card .h {
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.6rem;
}
.info-card-sub-header {
  text-align: center;
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  line-height: 1.5rem;
}
.main_section_padding {
  padding: 0.7rem 0 3rem 0;
  height: fit-content;
}

.bullet {
  list-style-type: disc;
  list-style-position: inside;
}
.header_font {
  font-size: 2.3rem;
}
.header_sub_font {
  font-size: 1.2rem;
}
.main_d_n {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.download_rel,
.cont_email {
  position: relative;
  width: 100%;
  margin-top: 10rem;
  height: 23rem;
}
.cont_email {
  background-color: #000;
  padding: 2rem;
  height: inherit;
  color: #fff;
  border-radius: 2rem;
}
.sub_head {
  margin-bottom: 0.5rem;
}
.email_sub_sub_cont {
  width: 60%;
  z-index: 99;
  position: relative;
}
.download_container_first {
  width: 100%;
  background-image: url("../images/d_bg.png");
  background-color: rgba(223, 221, 221, 0.288);
  background-clip: content-box;
  background-size: contain;
  background-repeat: repeat-x;
  height: 23rem;
  top: 10%;
  border-radius: 0.9rem;
  z-index: -99;
}
.emc {
  position: relative;
}
.email_subscription_container {
  margin-bottom: 10rem;
}
.subscribe_container_second {
  position: absolute;
  bottom: -33%;
  right: -9%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.subscribe_img {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.subscribe_cont_main {
  margin-top: 2rem;
  width: 100%;
}
.subscribe_input {
  width: 55%;
  margin-right: 4%;
}
.subscribe_input input {
  border-radius: 2.2rem;
  padding: 1rem;
  width: 100% !important;
  background-color: #272727 !important;
  color: #fff;
  outline: none;
  border: none;
  box-sizing: border-box;
}
.subscribe_btn {
  padding: 1rem;
  width: 8rem;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 2.2rem;
}
.subscribe_btn.active {
  background-color: #f29b38;
  cursor: pointer;
}
.subscribe_btn.inactive {
  background-color: #cacaca;
  cursor: not-allowed;
}
.subscribe_img img {
  width: 35%;
  height: 35%;
}
.d_c_f_main {
  width: inherit;
  height: inherit;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  z-index: 99999;
}
.download_container_second {
  position: absolute;
  /* width: 100%; */
  top: -35%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.download_bg {
  background-image: url("../images/d_bg.png");
  background-color: rgba(252, 252, 252, 0.589);
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 19rem;
  padding: 2.4rem;
  overflow: visible;
  display: flex;
  align-items: center;
}
.download_mobile img {
  width: 100%;
  height: 100%;
}
.app_icon_logo {
  width: 16%;
}
.app_icon_logo img {
  width: 100%;
  height: auto;
}
.app_footer {
  background-color: #000;
  width: 100%;
  height: 19rem;
  padding: 2rem 5rem 3rem 5rem;
  color: #fff;
  display: grid;
  grid-template-areas: "logoArea contactArea";
  grid-template-columns: 35% 1%;
  grid-template-rows: auto;
}
.footer_logo img {
  width: 100%;
  height: auto;
}
.footer_logo p {
  font-size: 0.6rem;
  text-align: right;
}
.footer_logo {
  width: 25%;
}
.logo_area {
  grid-area: logoArea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact_area {
  grid-area: contactArea / last-line;
  width: 100%;
}
.term_address Address {
  font-size: 0.8rem;
  color: #cacaca;
}
.terms a,
.terms span {
  color: #cacaca;
}
.footer_link {
  color: #fcfbfb;
  font-size: 0.7rem;
  text-decoration: none;
}
.contact_area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact_area .hello {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.contact_area .nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact_area .contact_details {
  margin-top: 0.7rem;
}
.contact_area .contact_details p {
  color: #cacaca;
  font-size: 0.9rem;
  margin: 0.3rem 0 0.3rem 0;
}
.contact_area .contact_details a {
  color: #cacaca;
  font-size: 0.9rem;
  margin: 0.3rem 0 0.3rem 0;
  text-decoration: none;
}
.footer_social p {
  color: #f29b38;
  font-size: 0.8rem;
}
.social_items {
  margin-top: 0.5rem;
}
.social_item img {
  width: 100%;
  height: auto;
}
.social_item {
  width: 1.6rem;
  margin-right: 0.7rem;
}
.footer_nav_item {
  margin-top: 0.7em;
}
.footer_nav_item a {
  text-decoration: none;
  font-size: 0.9em;
  color: #cacaca;
}
.footer_nav_item span {
  text-decoration: none;
  font-size: 0.9em;
  color: #cacaca;
  cursor: pointer;
}
.more_questions {
  background-image: url("../images/more_bg.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.more_questions_container {
  padding: 3rem;
  width: 100%;
  background-color: #fcfbfb;
}
.more_questions .brand {
  font-size: 2rem;
}
.question_container {
  background-color: #fff;
  width: 80%;
  margin-top: 2rem;
  padding: 1.5rem;
  box-shadow: 0px 1px 13px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}
.faq_question_item.bordered {
  border-bottom: 1px solid #cacaca9c;
  padding: 0.3rem 0.3rem 1.2rem 0.3rem;
  cursor: pointer;
  transition: all 2s linear;
}
.faq_question_item {
  padding: 0.3rem 0.3rem 1.2rem 0.3rem;
  cursor: pointer;
  transition: all 2s linear;
  margin: 0.6rem;
}
.faq_question_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.faq_question_content.active {
  display: block;
}
.faq_question_content.inactive {
  display: none;
}
.faq_question_content {
  margin-top: 0.9rem;
  transition: all 4s linear;
}
.faq_question_content p {
  font-size: 0.85rem;
}
/* D-MODAL */
.add_disp_image_holder{
  width: 60px;
  max-height: 60px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: .5rem;
}
.add_disp_headshot_container{
  position: relative;
  width: 100%;
  padding-top: .3rem;
}
.add_dispatcher_body_container{
  width: 100%;
  margin-top: .2rem;
}
.add_disp_headshot_container_sub{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.d-modal {
  position: fixed;
  top: 0;
  overflow: visible;
  background-color: rgba(0, 0, 0, .6);
}
.d-modal-pri-body{
  margin: .8rem 0;
  width: 100%;
}
.d-modal-pri-header{
  width: 100%;
  margin-top: .4rem;
}
.d-modal.show {
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 999999999;
}
.d-modal_footer_action{
  width: 100%;
  padding: .6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.d-modal.hide {
  display: none;
}
.d-modal-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.d-modal-content-holder {
  width: 30%;
  background-color: #fff;
  height: fit-content;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.d-modal-img-cont {
  width: 65%;
}
.d-modal-pri-cont {
  width: 100%;
  position: relative;
  padding: 0.7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.d-modal-pri-cont_start {
  width: 100%;
  position: relative;
  padding: 0.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.add_disp_headshot_container{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: .4rem 0;
}
/* END D-MODAL */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
}

/* The customer Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* dispacther close */
.closed {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closed:hover,
.closed:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.border {
  border: 3px solid #ececec;
  border-radius: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.d-none {
  display: none;
}
.mobile_code_form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.mob_code_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: xx-large;
  text-align: center;
  margin: 0.2rem;
  outline: none;
  padding: 0.2rem;
  border-radius: 4px;
  border: 0.2px solid #f29b38;
}

.price_estimate_form_cont {
  width: 45%;
  margin: 2rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 23px 2px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.est_form_content_holder {
  width: 100%;
  margin: 0.7rem 0;
}
.est_form_content_holder p {
  color: #3d3d3d;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0.3rem 0;
}
.est_form_sub_hld {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.est_form_sub_hld .form_field {
  margin: 0.2rem 0.9rem 0.2rem 0;
}
.est_form_drpdwn_cont {
  position: relative;
}
.est_form_drpdwn {
  position: absolute;
  z-index: 99;
  top: 54px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.089);
  border-radius: 5px;
  padding: 0.4rem;
}
.est_form_drpdwn.in-active {
  display: none;
}
.est_form_drpdwn.active {
  display: block;
}
.est_form_drpdwn_item_picker {
  width: 100%;
  padding: 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s linear;
  border-radius: 4px;
}
.est_form_drpdwn_item_picker:hover {
  background-color: #3d3d3d13;
}
.est_input {
  width: 97% !important;
}
.error {
  color: red;
  font-size: 0.7rem;
}
.mg_top_btm {
  margin: 0.8rem 0;
}
.mg_top_btn_sm {
  margin: 0.3rem 0;
}
.modal_close{
  margin: 0 0.8rem;
}
.est_details_container {
  width: 100%;
  padding: 0.5rem;
  margin: 0.2rem 0;
}
.est_response,
.table_text_scrollable_no_wrap {
  width: 50%;
  overflow: scroll;
  padding: 0.4rem;
  text-align: right;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.table_text_scrollable_wrap {
  overflow: scroll;
  text-align: left;
  white-space: normal;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  width: 90%;
}
.table_text_scrollable_no_wrap {
  width: 90%;
  padding: 0;
}
.est_response::-webkit-scrollbar-button {
  display: none;
}
.est_response::-webkit-scrollbar {
  display: none;
}
.password_icon{
  position: relative;
  transition: all .4s linear;
}
.password_icon.eye_show::before{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  content: '🐵';
  color: red;
  cursor: pointer;
  transition: all .4s linear;
}
.password_icon.eye_off::before{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  content: '🙈';
  color: red;
  cursor: pointer;
  transition: all .4s linear;
}
.password_icon::before{
  position: absolute;
  height: 100%;
  left: -33px;
  transition: all .4s linear;
}
.green{
  color: #0EA574 !important;
}
#tracking_map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
#map_holder{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(70vh);
  padding: 2rem;
}
.map_loading_overlay{
  position: relative;
  width: 100%;
  height: calc(40vh);
  background-color: #fff;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tracking_package_detail{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.sub_tracking_package_details{
  background-color: #fff;
  padding: .4rem;
  box-shadow: 0px 1px 13px 1px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.tracking_pd_h,
.tracking_pg_b{
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap:1%;
  grid-template-rows: 30% 30% 30%;
  border-bottom: .9px solid #E6E9F4;
}
.tracking_pg_b{
  border: none;
}
/* 
  COMPANY ADMIN STYLES
*/
.admin_dash_container{
  width: 100%;
  height: calc(100vh);
  overflow: hidden;
  position: absolute;
}
.dash_nav_main_container{
  position: sticky;
  top: 0;
  width: 100%;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.089);
  z-index: 9999;
}
.dash_nav_container{
  width: 100%;
  padding: .8rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dash_nav_logo{
  width: 7rem;
  cursor: pointer;
  outline: none;
}
.dash_user_greeting{
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.logout_dropdown_container{
  position: absolute;
  bottom: -15px;
  min-width: 80px;
  padding: .3rem;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .089);
  background-color: #fff;
  z-index: 99;
}
.profile_holder_container{
  width: 75%;
  box-shadow: 0 3px 33px 0 rgba(0, 0, 0, 0.089);
  border-radius: 4px;
  padding: 1.2rem;
}
.profile_update_btn_container{
  width: fit-content;
}
.profile_main_avatar_holder{
  width: 110px;
  max-height: 110px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 1.3rem;
}
.profile_image_holder_container{
  display: flex;
  width: 100%;
  padding: .9rem 0;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.main_profile_sub_holder{
  margin-top: 2rem;
}
.profile_info_text_holder{
  padding: 0.8rem 1.3rem;
  background: #E6E9F4 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 0.62;
}
.dash_user_greeting > .greetings {
  font-weight: bold;
  font-size: .72rem;
}
.logout_icon{
  margin-left: .5rem;
  font-size: .6rem;
  cursor: pointer;
  font-weight: 200;
}
.dash_user_greeting > .user_nav_name{
  font-size: .9rem;
}
.nav_back{
  cursor: pointer;
}
.nav_back .fa{
  margin-right: 1.3rem;
}
.nav_part_b{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.nav_part_b_space_btwn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.notification_bell{
  margin: 0 2rem 0 .5rem;
  position: relative;
  width: fit-content;
  overflow: visible;
  cursor: pointer;
}
.notification_counter{
  position: absolute;
  background-color: #F0142F;
  width: 14px;
  height: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  right: -1px;
  top: -3px;
}
.notification_counter > span {
  font-size: .57rem;
  color: #fff;
}
.main_company_dash_grid{
  width: 100%;
  height: calc(98vh);
  overflow: hidden;
  display: grid;
  grid-template-columns:18% 82%;
  grid-template-rows: auto;
}
.main_company_side{
  width: 100%;
  height: calc(91vh);
  box-shadow: 0 3px 33px 0 rgba(0, 0, 0, 0.089);
  overflow: hidden;
}
.admin_overview{
  width: 100%;
  height: calc(94vh);
  overflow: scroll;
  padding: 1.2rem 1.2rem 3rem 1.2rem;
}
.nav_item_card{
  width: 100%;
  padding: 1.6rem .9rem .9rem .9rem;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}
.nav_item_img_holder{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 50px;
  max-height: 50px;
  overflow: hidden;
  border-radius: 100%;
  z-index: 9;
}
.nav_item_title_holder{
  margin-left: .3rem;
  position: relative;
}
.nav_item_title_holder > .comp_name{
  font-size: .82rem;
  font-weight: 700;
}
.nav_item_title_holder > .comp_email{
  font-size: .7rem;
  color: #7E84A3;
}
.text_scroll {
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.dash_side_main_nav_container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: .1rem;
}
.nav_title{
  font-size: .8rem;
}
.dash_side_nav_item.selected > .nav_item_bg_overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #f29b381e;
  border-left: 3px solid #212121;
}
.dash_side_nav_item.selected > .nav_title {
  color: #f29b38;
}
.dash_side_nav_item{
  position: relative;
  padding: 1rem;
  width: 100%;
  background-color: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav_icon{
  width: 20px;
  height: 20px;
}
.dash_side_nav_item > .nav_icon {
  margin-right: .9rem;
}
.dash_side_nav_item:hover > .nav_item_bg_overlay {
  background-color: #f29b381e;
  border-left: 3px solid #212121;
  transition: background-color .4s linear;
}
.nav_item_bg_overlay{
  position: absolute;
  width: 100%;
  background-color: none;
  height: 100%;
  left: 0;
}
.time_frame_invisible {
  display: none;
}
.dash_time_frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .6rem;
  border: 1px solid #E6E9F4;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  padding: .2rem .4rem .2rem .4rem;
  font-weight: 500;
  border-radius: 3px;
}
.dash_time_frame.selectedTF{
  background-color: #f29b38;
  border: 1px solid #f29b38;
  color: #fff;
  border-radius: 3px;
}
.dash_overview_space{
  margin: .5rem 0 2rem 0;
}
.overview_top_grid{
  display: grid;
  align-items: center;
  grid-template-columns: 30% 30% 30%;
  gap: 1%;
  grid-template-columns: auto auto auto;
}
.o_t_grid_item{
  margin-bottom: .9rem;
  padding: .9rem;
  width: 100%;
  height: 9rem;
  border-radius: 6px;
  box-shadow: 0px 6px 36px #15223214;
}
.brand_lg_green_bg {
  background: #0ea575b6 0% 0% no-repeat padding-box;
  opacity: 1;
}
.brand_green_bg{
  background: #0EA574 0% 0% no-repeat padding-box;
  opacity: 1;
}
.brand_faint_green_bg {
  background: #0ea57523 0% 0% no-repeat padding-box;
}
.brand_faint_danger_bg {
  background: #f0142e1e 0% 0% no-repeat padding-box;
}
.brand_faint_main_bg {
  background: #f29b381a 0% 0% no-repeat padding-box;
}
.font-success {
  color: #0EA574;
}
.font_brand_faint {
  color: #7E84A3;
}
.font_secondary_dark{
  color: #131523;
}
.font_secondary_dark_faint{
  color: #5A607F;
}
.font_brand_dark{
  color: #BA6C00;
}
.font-danger {
  color: #F0142F;
}
.otg_card{
  height: 100%;
  width: 100%;
}
.otg_card_header span{
  font-size: .8rem;
}
.otg_card_body{
  height: 60%;
  width: 100%;
}
.profile_disp_item{
  margin-top: 1.3rem;
  background: #57B8FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 36px #15223214;
  border-radius: 6px;
  opacity: 1;
}
.profile_g_card_body{
  height: fit-content;
  width: 100%;
}
.view_dispatcher_item_card{
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.view_dispatcher_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #F5F6FA;
  padding: .1rem .5rem;
  border-radius: 4px;
  cursor: pointer;
}
.view_dispatcher_item span {
  margin: .2rem;
}
.otg_card_b_data{
  font-size: 1.7rem;
  font-weight: 500;
}
.data_loading_icon_cont{
  width: 25px;
  height: 25px;
}
.data_loading_icon_cont_sm{
  width: 15px;
  height: 15px;
}
.data_loading_main_cont{
  width: 100%;
  height: 100%;
}
.table_container{
  position: relative;
  background-color: #fff;
  height: auto;
  width: 100%;
  margin-top: .6rem;
  box-shadow: 0px 6px 36px #15223214;
}
.table_controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: .8rem 2rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.table_h_n{
  padding-left: 2rem;
}
.dispatcher_table_header,
.dispatcher_table_body{
  position: relative;
  display: grid;
  grid-template-columns: 40% 11% 23% 10% 10% 6%;
  padding: .8rem 0;
  align-items: center;
  justify-content: flex-start;
  background: #F5F6FA 0% 0% no-repeat padding-box;
  opacity: 1;
}
.dispatcher_table_map_header,
.dispatcher_table_map_body{
  position: relative;
  display: grid;
  grid-template-columns: 15% 8% 24% 10% 18% 18% 7%;
  padding: .8rem 0;
  align-items: center;
  justify-content: flex-start;
  background: #F5F6FA 0% 0% no-repeat padding-box;
  opacity: 1;
}
.dispatcher_table_body,
.dispatcher_table_map_body{
  background: #fff 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: .8rem 0;
}
.table_header_text{
  font-size: .7rem;
  color: #131523;
  font-weight: bold;
  text-transform: uppercase;
}
.table_body_text{
  font-size: .8rem;
  color: #131523;
}
.table_b_nt{
  padding-left: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.main_disp_table_body_con{
  width: 100%;
  height: calc(49vh);
  overflow: scroll;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none !important;
}
.disp-table_loading{
  width: 100%;
  height: calc(40vh);
}
.checkbox_cont{
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table_checkbox{
  border: 1px solid #E6E9F4 !important;
  width: 12px;
  height: 12px;
  margin-right: .6rem;
  cursor: pointer;
}
.disp_table_image{
  width: 18px;
  height: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: .4rem;
}
.disp_table_elips_cont{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; 
  padding-right: .6rem;
  cursor: pointer;
}
.disp_table_option_id{
  position: absolute;
  top: 20px;
  width: 120px;
  height: 100px;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 6px 36px #15223214;
  padding: .5rem;
}
.disp_option_item{
  padding: .3rem;
  background-color: #fff;
  border-radius: 4px;
}
.disp_option_item:hover{
  background-color: #cacaca18;
}
.disp_table_no_data{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no_data_cont{
  width: 25%;
  height: auto;
}
.dispatcher_profile_container{
  width: 100%;
  padding: .6rem;
  background-color: #fff;
  box-shadow: 0px 6px 36px #15223214;
  border-radius: 5px;
  height: 200px;
}
.dispatcher_top_profile_grid{
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
}
.dispatcher_top_profile_grid_item{
  width: 100%;
  position: relative;
}
.disp_profile_image_container{
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 1rem;
}
.dispatcher_details_grid{
  display: grid;
  width: 80%;
  height: 100%;
  grid-template-columns: 30% 30% 30%;
  gap: 10%;
  grid-template-rows: 40% 40%;
}
.ddi_header{
  text-transform: uppercase;
  font-size: .6rem;
  color: #7F84A0;
  margin-bottom: .2rem;
}
.ddi_body {
  font-size: .85rem;
  color: #131523;
  margin-bottom: .5rem;
}
.disp_tpgs{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.disp_p_edit{
  margin: 0 !important;
  width: 60px;
  height: auto;
}
.dispatcher_actions_details_grid{
  position: relative;
  display: grid;
  margin-top: 1.4rem;
  grid-template-columns: 24% 24% 24% 24%;
  gap: .9%;
  grid-template-rows: 130px;
}
.disp_actions_details_grid_item{
  width: 100%;
  height: 100%;
  box-shadow: 0px 6px 36px #15223214;
  background-color: #fff;
  border-radius: 5px;
  padding: .5rem;
}
.dispatcher_table_map_place{
  background-color: #fff;
  margin-top: 1.3rem;
  width: 100%;
  height: 100%;
  box-shadow: 0px 6px 36px #15223214;
}

/* 
  END COMPANY ADMIN STYLES
*/

/* 
  RESPONSIVE DESIGNS
*/
@media screen and (max-width: 1024px) {
  .grid_container {
    display: grid;
    grid-template-columns: 48% 48%;
    width: 100%;
    height: auto;
    gap: 5%;
  }
  .container {
    margin: 4rem;
    padding: 1rem;
  }
  .sp-cont {
    width: 5rem;
  }
  .mtop-50px {
    margin-top: 30px;
  }
  .h_bg_two {
    position: absolute;
    top: 10% !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer_logo {
    width: 45%;
  }
  .price_estimate_form_cont {
    width: 60%;
    margin: 2rem;
  }
  .d-modal-content-holder {
    width: 60%;
  } 
  .auth-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #fff;
    padding: 1.5rem;
    width: 50%;
    margin: 0.6rem 1rem 0.6rem 0;
    box-shadow: 0 3px 25px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.9rem;
    margin-right: 8rem;
  }
  .large-h1{
    font-size: 2.3rem;
  }
  .hero_info {
    width: 40%;
    margin-left: 5rem;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media screen and (max-width: 850px) {
  .comp {
    display: none;
  }
  .mobile {
    display: block;
  }
  .link {
    margin-bottom: 0.6rem;
  }
  .grid_container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 98%;
    width: 100%;
    height: auto;
    gap: 0.4%;
  }
  .container {
    padding: 1rem;
  }
  .mtop-50px {
    margin-top: 20px;
  }
  .session_container {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .session_holder_two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
  }
  .info-card {
    width: 100%;
  }
  .h_bg_two_sub {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.9em;
  }
  .hero_bg_holder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 0 1rem;
    z-index: -99;
  }
  .h_bg_two {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .store_btn img {
    width: 7em;
    height: auto;
    margin: 0.5rem;
    cursor: pointer;
  }
  .footer_logo {
    width: 50%;
  }
  .more_questions .brand {
    font-size: 1.4rem;
  }
  .question_container {
    width: 100%;
    margin-top: 2rem;
    padding: 0.5rem;
  }
  .more_questions_container {
    padding: 0.7rem;
  }
  .faq_question_head h4 {
    font-size: 0.9rem;
  }
  .email_sub_sub_cont {
    width: 100%;
    z-index: 99;
    position: relative;
  }
  .subscribe_input {
    width: 100%;
    position: relative;
    margin-bottom: 4%;
    margin-right: 0;
  }
  .subscribe_input input {
    width: 100%;
  }
  .subscribe_btn {
    width: 100%;
  }
  .price_estimate_form_cont {
    width: 80%;
    margin: 2rem;
  }
  .d-modal-content-holder {
    width: 70%;
    height: fit-content;
  }
  .auth-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #fff;
    padding: 1.5rem;
    width: 55%;
    margin: 0.6rem 1rem 0.6rem 0;
    box-shadow: 0 3px 25px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.9rem;
    margin-right: 8rem;
  }
  .dash_nav_logo{
    width: 5rem;
  }
  .nav_icon img{
    width: 20px;
    max-height: 20px;
  }
  .main_company_dash_grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 0 0 2rem 0;
    height: calc(90vh);
    overflow: scroll;
  }
  .admin_overview{
    /* padding: .6rem; */
    padding: 0;
  }
  .main_bottom_nav{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .089);
    z-index: 99999;
    background-color: #fff;
  }
  .dash_side_nav_item > .nav_icon {
    margin: 0 !important;
  }
  .dash_side_nav_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .2rem .6rem;
  }
  .nav_title{
    font-size: .5rem;
  }
  .dash_page_title{
    font-size: .8rem;
  }
  .mob_dont_scroll{
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: .6rem;
    z-index: 0;
  }
  .mob_page_top{
    padding: 4rem .4rem .3rem .4rem;
  }
  .btn_bg, .btn_bg_dark, .btn_bg_dark_norm_width, .btn_bg_white_norm_width {
    margin: 0;
  }
  .dispatcher_actions_details_grid{
    position: relative;
    display: grid;
    margin-top: 1.4rem;
    grid-template-columns: 48% 48%;
    gap: 3%;
    grid-template-rows: 130px 130px;
    padding: .8rem;
  }
  .profile_holder_container{
    width: 100%;
    box-shadow: 0 3px 33px 0 rgba(0, 0, 0, 0.089);
    border-radius: 4px;
    padding: 1.2rem;
  }
  .profile_main_avatar_holder{
    width: 80px;
    max-height: 80px;
  }
  .lh_login_form_c{
    width: 80%;
  }
  .logout_dropdown_container{
    position: absolute;
    bottom: -35px;
    min-width: 80px;
    padding: .6rem;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .089);
    background-color: #fff;
    z-index: 999999;
  }
  
}

@media screen and (max-width: 500px) {
  .container {
    margin: 1rem !important;
    padding: 1rem;
  }
  .sub_header span,
  .subb_header span,
  .sub_header_col span,
  .header_font {
    font-size: 1.4rem;
    display: block;
  }
  .header_sub_font {
    font-size: 0.9rem;
  }
  .info-card {
    width: 100%;
  }
  .hero_bg_holder img {
    width: 100%;
    height: 100%;
  }
  .hero_bg_holder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 0 1rem;
    z-index: -99;
  }
  .h_bg_two_sub {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.9em;
  }
  .h_bg_two_sub h1 {
    font-size: 2rem;
    text-align: center;
  }
  .link span,
  .sub_text,
  .bullet li {
    font-size: 0.9rem;
  }
  .session_container {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .session_holder_one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
  }
  .app_footer {
    background-color: #000;
    width: 100%;
    height: 21rem;
    padding: 2rem 2rem 3rem 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo_area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }
  .contact_area {
    grid-area: contactArea / last-line;
    width: 100%;
  }
  .h_bg_two {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .price_estimate_form_cont {
    width: 97%;
    margin: 2rem;
  }
  .d-modal-content-holder {
    width: 97%;
    height: fit-content;
  }
  .hero_content_flex_center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 20px;
  }
  .hero_info{
    width: 93%;
    margin: .4rem;
    padding: 0;
  }
  .large-h1{
    font-size: 1.8rem;
  }
  .auth-card {
    width: 93%;
    margin: .8rem;
    box-shadow: 0 3px 25px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.9rem;
    margin-right: 8rem;
  }
  .m-text-center {
    text-align: center;
  }
  .overview_top_grid{
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .disp_table_elips_cont {
    position: absolute;
  }
  .dispatcher_table_header,
  .dispatcher_table_body{
  position: relative;
  display: grid;
  grid-template-columns: 45% 45% ;
  padding: .8rem 0;
  align-items: center;
  justify-content: flex-start;
  background: #F5F6FA 0% 0% no-repeat padding-box;
  opacity: 1;
}
.dispatcher_table_body,
.dispatcher_table_map_body{
  background: #fff 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: .8rem 0;
}
.small_hide {
  display: none;
}
.dispatcher_details_grid{
  display: grid;
  width: 80%;
  height: fit-content;
  grid-template-columns: 40% 40%;
  gap: 10%;
  grid-template-rows: auto auto;
  overflow: scroll;
}
.disp_profile_image_container{
  width: 60px;
  height: 60px;
}
.dispatcher_profile_container{
  width: 100%;
  padding: .6rem;
  background-color: #fff;
  box-shadow: 0px 6px 36px #15223214;
  border-radius: 5px;
  height: fit-content;
}
.dispatcher_actions_details_grid{
  position: relative;
  display: flex;
  margin-top: 1.4rem;
  flex-direction: column;
  padding: .8rem;
}
.disp_actions_details_grid_item{
  margin: .2rem 0;
}
.dispatcher_table_map_header,
.dispatcher_table_map_body{
  position: relative;
  display: grid;
  grid-template-columns: 45% 45%;
  padding: .8rem 0;
  align-items: center;
  justify-content: flex-start;
}
.lh_login_form_c{
  width: 95%;
}
.no_data_cont{
  width: 65%;
  height: auto;
}

}
