.logo_cont{
  width: 8.3%;
  height: auto;
}
.main_nav,
.opaque_nav{
  padding: .8rem 8% .8rem 8%;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 99999999;
}
.opaque_nav {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  width: 100%;
}
.cta p,
.cta_black p{
  color: #fff;
  font-weight: 550;
  letter-spacing: 1.3px;
}
.cta,
.cta_black {
  background-color: #000;
  margin-left: 30px;
  width: 130px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  border-radius: 1.4rem;
  font-size: .8rem;
  transition: all .4s ease;
}
.cta:hover,
.cta_black:hover{
  background-color: #F29B38;
}
.cta:hover p,
.cta_black:hover p{
  color: #000;
}
.nav_font_opaque{
  color: white;
  transition: all .3s linear;
}
.nav_font_opaque:hover {
  color: #F29B38
}

.nav-active {
  border-bottom: 2px solid #F29B38;
  line-height: 2rem;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-inactive {
  line-height: 2rem;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center
}
.mobile_nav_container {
  width: 50%;
  height: 100%;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  z-index: 999;
  padding: .4rem;
}
.nav_item{
  margin: 0 .6rem 0 .6rem;
}
.nav_items_container{
  position: absolute;
  padding: .7rem;
  float: left;
  top: 105%;
  width: fit-content;
  z-index: 999999;
  transition: display 5s linear;
  box-shadow: 0px .3px 2px .3px rgba(0,0,0,.2);
  border-radius: .4rem;
  background-color: #fff;
}
.nav_items_container.inactive {
  display: none;
  transition: display 5s ease;
}
.nav_items_container.active {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  transition: display 5s ease;
}
.nav_icon_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px .3px 2px .3px rgba(0,0,0,.2);
  width: 45px;
  height: 45px;
  border-radius: .5rem;
}
/* 
  RESPONSIVE DESIGNS
*/
@media screen and (max-width: 850px){
  .main_nav{
    padding: .8rem 4% .8rem 4%;
    position: sticky;
    top: 0px;
    background-color: #fff;
  }
}

