.consistent_delivery {
  background-image: url('../images/same_day_delivery.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.instant_payout {
  background-image: url('../images/instant_payout.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.choose_delivery {
  background-image: url('../images/choose_delivery.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.flex_hours {
  background-image: url('../images/flex_hours.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.low_rates {
  background-image: url('../images/low_rates.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.limitless_mode {
  background-image: url('../images/limitless_mode.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.sdd {
  background-image: url('../images/sdd.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.fast_time {
  background-image: url('../images/fast_time.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.real_tracking {
  background-image: url('../images/real_tracking.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.select_dispatcher {
  background-image: url('../images/select_dispatcher.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.earn_kc {
  background-image: url('../images/earn_kc.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.save_tm {
  background-image: url('../images/save_tm.png');
  background-repeat: no-repeat;
  background-size: contain;
}